#customize-controls{
	width: 431px;
}
#customize-controls .container{
	max-width: 420px !important;
}

.wp-full-overlay.collapsed #customize-controls {
	width: 0%;
}

.ui-sortable-handle {
	background: white;
	cursor: ns-resize;
}

.ui-sortable-handle label {
	margin: 10px;
	cursor: ns-resize;
}

.ui-sortable-handle .dashicons {
	float: right;
	margin: 13px;
}