/*
Theme Name: KRK Corporate
Author: KRK
Author URI: https://wordpress.org/
Description: Theme for KRK Corporate
Version: 1.0
*/ 
@font-face {
	font-family: "icomoon";
	src: url("fonts/icomoon.eot?qdymhw");
	src: url("fonts/icomoon.eot?qdymhw#iefix") format("embedded-opentype"), url("fonts/icomoon.ttf?qdymhw") format("truetype"), url("fonts/icomoon.woff?qdymhw") format("woff"), url("fonts/icomoon.svg?qdymhw#icomoon") format("svg");
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: "icomoon" !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1; /* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-point:before {
    content: "\e911";
}

.icon-arrow-click:before {
    content: "\e90f";
}

.icon-hand:before {
    content: "\e910";
}

.icon-arrow-1:before {
    content: "\e90e";
}

.icon-arrow:before {
    content: "\e90d";
}

.icon-arrow-left:before {
    content: "\e903";
}

.icon-arrow-right:before {
    content: "\e904";
}

.icon-facebook:before {
    content: "\e905";
}

.icon-google:before {
    content: "\e906";
}

.icon-google-plus:before {
    content: "\e907";
}

.icon-instagram:before {
    content: "\e908";
}

.icon-pinterest:before {
    content: "\e909";
}

.icon-play:before {
    content: "\e90a";
}

.icon-search:before {
    content: "\e90b";
}

.icon-twitter:before {
    content: "\e90c";
}

.icon-angies-list:before {
    content: "\e902";
}

.icon-youtube:before {
    content: "\e900";
}

.icon-yelp:before {
    content: "\e901";
}

@font-face {
    font-family: "satisfy";
    src: url("fonts/Satisfy-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

/*@font-face {
	font-family: "pacifico";
	src: url("fonts/pacifico-webfont.eot");
	src: url("fonts/pacifico-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/pacifico-webfont.woff2") format("woff2"), url("fonts/pacifico-webfont.woff") format("woff"), url("fonts/pacifico-webfont.ttf") format("truetype"), url("fonts/pacifico-webfont.svg#pacificoregular") format("svg");
	font-weight: normal;
	font-style: normal;
}*/

@font-face {
	font-family: "quicksand";
	src: url("fonts/quicksand-bold-webfont.eot");
	src: url("fonts/quicksand-bold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/quicksand-bold-webfont.woff2") format("woff2"), url("fonts/quicksand-bold-webfont.woff") format("woff"), url("fonts/quicksand-bold-webfont.ttf") format("truetype"), url("fonts/quicksand-bold-webfont.svg#quicksandbold") format("svg");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "quicksand";
	src: url("fonts/quicksand-regular-webfont.eot");
	src: url("fonts/quicksand-regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/quicksand-regular-webfont.woff2") format("woff2"), url("fonts/quicksand-regular-webfont.woff") format("woff"), url("fonts/quicksand-regular-webfont.ttf") format("truetype"), url("fonts/quicksand-regular-webfont.svg#quicksandregular") format("svg");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "quicksand";
	src: url("fonts/quicksand-light-webfont.eot");
	src: url("fonts/quicksand-light-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/quicksand-light-webfont.woff2") format("woff2"), url("fonts/quicksand-light-webfont.woff") format("woff"), url("fonts/quicksand-light-webfont.ttf") format("truetype"), url("fonts/quicksand-light-webfont.svg#quicksandlight") format("svg");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "quicksand";
	src: url("fonts/quicksand-bolditalic-webfont.eot");
	src: url("fonts/quicksand-bolditalic-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/quicksand-bolditalic-webfont.woff2") format("woff2"), url("fonts/quicksand-bolditalic-webfont.woff") format("woff"), url("fonts/quicksand-bolditalic-webfont.ttf") format("truetype"), url("fonts/quicksand-bolditalic-webfont.svg#quicksandbold_italic") format("svg");
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: "quicksand";
	src: url("fonts/quicksand-italic-webfont.eot");
	src: url("fonts/quicksand-italic-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/quicksand-italic-webfont.woff2") format("woff2"), url("fonts/quicksand-italic-webfont.woff") format("woff"), url("fonts/quicksand-italic-webfont.ttf") format("truetype"), url("fonts/quicksand-italic-webfont.svg#quicksanditalic") format("svg");
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: "quicksand";
	src: url("fonts/quicksand-lightitalic-webfont.eot");
	src: url("fonts/quicksand-lightitalic-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/quicksand-lightitalic-webfont.woff2") format("woff2"), url("fonts/quicksand-lightitalic-webfont.woff") format("woff"), url("fonts/quicksand-lightitalic-webfont.ttf") format("truetype"), url("fonts/quicksand-lightitalic-webfont.svg#quicksandlight_italic") format("svg");
	font-weight: 300;
	font-style: italic;
}

/**
 * Featherlight
 */

.featherlight {
	background: rgba(0, 0, 0, 0.8);
}

.featherlight-content {
	max-width: 830px;
	width: 80%;
	height: 50%;
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;

	overflow: hidden !important;
	border: none !important;
}

.featherlight-content iframe,
.featherlight-content video{
	position: absolute;
	height: 100%;
	width: 100%;
	margin: auto;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	padding: 15px;
}

.featherlight .featherlight-close-icon{
	font-size: 15px;
	top: -4px !important;
	right: -5px !important;
	background: transparent !important;
}

.jcf-list ul,
.sub-nav,
.navbar-nav,
.navbar-nav .dropdown-menu ul,
.kids-curriculum,
.list-event,
.sub-menu,
.sub-menu > li ul,
.list-img,
.list,
.block-information ul,
.block-contact ul,
.block-inform .hold address ul,
.menu > ul,
.social-networks {
	margin: 0;
	padding: 0;
	list-style: none;
}

.clearfix:after,
.navbar-form .form-group:after,
.navbar-collapse .box:after,
.contact address:after,
.kids-curriculum:after,
.item .text:after,
.event-block:after,
.social-networks:after,
.btn-hold:after {
	content: "";
	display: block;
	clear: both;
}

.ellipsis {
	white-space: nowrap; /* 1 */
	text-overflow: ellipsis; /* 2 */
	overflow: hidden;
}

textarea.form-control {
	resize: vertical;
	height: 239px;
	min-height: 239px;
	max-height: 330px;
}

.alert {
	overflow: hidden;
	padding: 12px 26px;
	position: relative;
	font-size: 19px;
	line-height: 35px;
	font-weight: 700;
	text-align: center;
}

.alert-danger .errors {
	text-align: left;
	width: 80%;
	margin: 0 auto;
}

.alert .close {
	font-size: 30px;
	font-weight: 400;
	color: rgba(255, 255, 255, .34);
	opacity: 1;
	-webkit-transition: color .3s ease;
	transition: color .3s ease;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	right: 26px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .34);
}

.alert .close:hover {
	color: #fff;
}

.alert p {
	margin: 0;
}

.alert p a {
	color: #fff;
	-webkit-transition: opacity .3s ease;
	transition: opacity .3s ease;
	text-decoration: none;
}

.alert p a:hover {
	opacity: .7;
	text-decoration: none;
}

.alert p a .ico {
	font-size: 13px;
}

label {
	font-weight: 400;
	vertical-align: middle;
	max-width: 80%;
	margin-bottom: 0;
}

.label-home {
    position: absolute;
    right: -30px;
    top: -15px;
    letter-spacing: -1px;
    padding: 9px 3.5% 3px 6px;
    background: url(images/sprite-btn-2.png) repeat-x;
    background-position: 0 -258px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 22px;
    line-height: 28px;
    height: 99px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 10;
}

.label-home .ico {
    display: inline-block;
    margin: 0 -22px 0 22px;
    width: 25px;
    height: 18px;
    background: url(images/ico-button.png) no-repeat;
    background-size: cover;
}

.label-home:hover {
    text-decoration: none;
    color: #06467a;
}

.label-home:after {
    content: "";
    position: absolute;
    right: 100%;
    bottom: 0;
    width: 42px;
    height: 99px;
    background: url(images/sprite-btn-2.png) no-repeat;
    background-position: -9px -158px;
}

fieldset {
	min-width: 0;
}

.disclaimer-wrapper p {
	margin: 0;
}

.disclaimer {
	font-size: 16px;
	margin: 0;
}

.checkbox-description {
    font-weight: bold;
    margin-bottom: -20px;
}

.checkbox-wrapper {
    margin-top: -15px;
}

.checkbox-wrapper.tall {
    margin-top: 25px;
}

.form-group.small {
	width: 56%;
}

.form-group .required-marker {
    position: relative;
    bottom: -33px;
    left: -2.7%;
}
.required-marker {
    color: red;
    font-weight: bolder;
}

.form-control {
	border: 0;
	box-shadow: inset 5px 6px 5px 0 rgba(139, 161, 170, .29);
	font-style: italic;
	line-height: 40px;
	padding: 2px 21px;
}

.jcf-checkbox {
	vertical-align: middle;
	display: inline-block;
	position: relative;
	overflow: hidden;
	cursor: default;
	background: #f3f3f3;
	border-radius: 50%;
	margin: 0 11px 0 0;
	height: 34px;
	width: 34px;
	box-shadow: inset 5px 6px 5px 0 rgba(139, 161, 170, .29);
}

.jcf-select .jcf-select-text, .states-select {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    cursor: default;
    display: block;
    font-size: 20px;
    line-height: 43px;
    margin: 0 35px 0 21px;
    font-style: italic;
}

.jcf-checkbox.jcf-checked span {
	display: block;
}

.jcf-checkbox span {
	position: absolute;
	display: none;
	height: 16px;
	width: 16px;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	background: #06467a;
	border-radius: 50%;
}

.jcf-checkbox input[type="checkbox"] {
	position: absolute;
	width: 100%;
	height: 100%;
	border: 0;
	margin: 0;
	left: 0;
	top: 0;
}

input[type="radio"].form-control {
    width: 22px;
    display: inline;
    position: relative;
    box-shadow: none;
    top: 13px;
}

.jcf-select {
	display: block;
	position: relative;
	background: #f3f3f3;
	width: 100%;
	height: 43px;
	border-radius: 8px;
	box-shadow: inset 5px 6px 5px 0 rgba(139, 161, 170, .29);
}

.jcf-select select {
	z-index: 1;
	left: 0;
	top: 0;
}

.jcf-select .jcf-select-text {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	cursor: default;
	display: block;
	font-size: 20px;
	line-height: 43px;
	margin: 0 35px 0 21px;
	font-style: italic;
}

.jcf-select .jcf-select-opener {
	position: absolute;
	right: 27px;
	top: 0;
	bottom: 0;
}

.jcf-select .jcf-select-opener:before {
	content: "";
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	border-style: solid;
	border-color: #ced5df transparent;
	border-width: 11px 11px 0;
}

.jcf-select .jcf-select-drop {
	position: absolute;
	margin-top: 0;
	z-index: 9999;
	top: 100%;
	left: -1px;
	right: -1px;
}

.jcf-select .jcf-drop-flipped {
	bottom: 100%;
	top: auto;
}

body > .jcf-select-drop {
	position: absolute;
	margin: -1px 0 0;
	z-index: 9999;
}

body > .jcf-select-drop.jcf-drop-flipped {
	margin: 1px 0 0;
}

.jcf-select-drop .jcf-hover {
	background: #e6e6e6;
	color: #000;
}

.jcf-list-box {
	overflow: hidden;
	display: inline-block;
	min-width: 200px;
	margin: 0 15px;
}

.jcf-list-box .jcf-selected {
	background: #e6e6e6;
	color: #000;
}

.jcf-list {
	display: inline-block;
	vertical-align: top;
	position: relative;
	background: #f3f3f3;
	line-height: 24px;
	font-size: 20px;
	font-style: italic;
	width: 100%;
	border-radius: 8px;
	overflow: hidden;
	box-shadow: inset 0 0 5px 0 rgba(139, 161, 170, .29);
}

.jcf-list .jcf-list-content {
	vertical-align: top;
	display: inline-block;
	overflow: auto;
	width: 100%;
}

.jcf-list ul li {
	overflow: hidden;
}

.jcf-list .jcf-overflow {
	overflow: auto;
}

.jcf-list .jcf-option {
	white-space: nowrap;
	overflow: hidden;
	cursor: default;
	display: block;
	padding: 5px 20px;
	color: #06467a;
	height: 1%;
}

.jcf-list .jcf-disabled {
	background: #fff !important;
	color: #aaa !important;
}

.jcf-list .jcf-optgroup-caption {
	white-space: nowrap;
	font-weight: bold;
	display: block;
	padding: 5px 9px;
	cursor: default;
	color: #000;
}

.jcf-list .jcf-optgroup .jcf-option {
	padding-left: 30px;
}

.jcf-disabled {
	background: #ddd !important;
}

.jcf-focus,
.jcf-focus * {
	border-color: #f00 !important;
}

.info-form {
	width: 78.4%;
}

.info-form .line {
	margin: 104px -9999px 48px 0;
	padding: 0 9999px 0 0;
}

.info-form .btn {
	font-size: 23px;
	line-height: 26px;
	padding: 10px 19px;
	border-radius: 22px;
}

.info-form .btn [class^="icon-"] {
	font-size: 13px;
	padding: 0 12px 0 0;
	vertical-align: bottom;
	margin: 0;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.info-form h2 {
	margin-bottom: 60px;
}

.info-form h3 {
	margin-bottom: 19px;
}

.form-box {
	margin: 0 0 43px;
}

/* custom scrollbars styles */

.jcf-scrollable-wrapper {
	box-sizing: content-box;
	position: relative;
}

.jcf-scrollbar-vertical {
	position: absolute;
	cursor: default;
	background: #f7f9fb;
	width: 7px;
	bottom: 0;
	right: 0;
	top: 0;
}

.jcf-scrollbar-vertical .jcf-scrollbar-dec,
.jcf-scrollbar-vertical .jcf-scrollbar-inc {
	background: #bbb;
	height: 0;
	width: 0;
	left: 0;
	top: 0;
	display: none;
}

.jcf-scrollbar-vertical .jcf-scrollbar-inc {
	top: auto;
	bottom: 0;
}

.jcf-scrollbar-vertical .jcf-scrollbar-handle {
	background: #7e9fba;
	height: 1px;
	width: 7px;
}

.jcf-scrollbar-horizontal {
	position: absolute;
	background: #e3e3e3;
	right: auto;
	top: auto;
	left: 0;
	bottom: 0;
	width: 1px;
	height: 14px;
}

.jcf-scrollbar-horizontal .jcf-scrollbar-dec,
.jcf-scrollbar-horizontal .jcf-scrollbar-inc {
	display: inline-block;
	vertical-align: top;
	overflow: hidden;
	background: #bbb;
	height: 14px;
	width: 14px;
}

.jcf-scrollbar-horizontal .jcf-scrollbar-inc {
	left: auto;
	right: 0;
}

.jcf-scrollbar-horizontal .jcf-scrollbar-slider {
	display: inline-block;
	position: relative;
	height: 14px;
}

.jcf-scrollbar-horizontal .jcf-scrollbar-handle {
	position: absolute;
	background: #888;
	height: 14px;
}

.jcf-scrollbar.jcf-inactive .jcf-scrollbar-handle {
	visibility: hidden;
}

.jcf-scrollbar.jcf-inactive .jcf-scrollbar-dec,
.jcf-scrollbar.jcf-inactive .jcf-scrollbar-inc {
	background: #e3e3e3;
}

/* common custom form elements styles */

.jcf-disabled {
	background: #ddd !important;
}

.jcf-focus,
.jcf-focus * {
	border-color: #f00 !important;
}

#header {
	max-width: 1200px;
	padding: 16px 30px 0;
	margin: 0 auto;
	background: url(images/bg-header.png);
	position: relative;
    -webkit-box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.55);
    -moz-box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.55);
    box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.55);
	z-index: 10;
}

.navbar-collapse {
	clear: both;
	margin: 0 -30px;
	background: #fff;
}

.navbar-form {
	padding: 0;
	margin: 0 0 10px;
	letter-spacing: -4px;
	font-size: 0;
	line-height: 0;
	white-space: nowrap;
	float: right;
}

.navbar-form .form-control {
	height: 43px;
	font-size: 20px;
	line-height: 24px;
	padding: 10px 19px 8px;
	font-family: "quicksand", Arial, Helvetica, sans-serif;
	color: #06467a;
	font-style: italic;
	box-shadow: inset 5px 5px 6px 0 rgba(139, 161, 170, .29);
	border-radius: 9px 0 0 9px;
	border: 0;
	width: 308px;
}

.navbar-form .form-control::-webkit-input-placeholder {
	color: #06467a;
}

.navbar-form .form-control::-moz-placeholder {
	opacity: 1;
	color: #06467a;
}

.navbar-form .form-control:-moz-placeholder {
	color: #06467a;
}

.navbar-form .form-control:-ms-input-placeholder {
	color: #06467a;
}

.navbar-form .form-control.placeholder {
	color: #06467a;
}

.navbar-form .btn {
	font-size: 25px;
	line-height: 43px;
	height: 43px;
	border: 0;
	border-radius: 0 9px 9px 0;
	background: #fb833f;
	-webkit-transition: background .3s, box-shadow .3s;
	transition: background .3s, box-shadow .3s;
	width: 66px;
	padding: 0;
	color: #fff;
}

.navbar-form .btn:hover {
	background: #fa6913;
}

.navbar-form .btn > span {
	margin: 0;
	display: block;
	font-size: 25px;
	top: 0;
}

.navbar-default {
	background: none;
	border: 0;
	border-radius: 0;
	margin: 0;
}

.navbar-brand {
	padding: 0;
	height: auto;
	width: 268px;
	margin: 0 0 17px;
}

.navbar-brand img {
	width: 100%;
	height: auto;
}

.navbar-collapse .box {
	position: absolute;
	top: 62px;
	right: 175px;
	padding-bottom: 2px;
}

.sub-nav {
	float: right;
	margin-bottom: 10px;
}

.sub-nav li {
	float: left;
	position: relative;
	font-size: 17px;
	line-height: 1.2;
	font-style: italic;
	font-weight: bold;
	padding-left: 19px;
	margin-left: 19px;
}

.sub-nav li:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 1px;
	height: 17px;
	background: #fff;
}

.sub-nav li:first-child {
	padding-left: 0;
	margin-left: 0;
}

.sub-nav li:first-child:after {
	display: none;
}

.sub-nav a {
	color: #fff;
	-webkit-transition: color .3s;
	transition: color .3s;
	text-decoration: none;
}

.sub-nav a:focus,
.sub-nav a:hover {
	color: #06467a;
	outline: none;
}

.navbar-nav {
	float: none;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	margin: 0 -45px;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	background: #fff;
}

.navbar-nav:after,
.navbar-nav:before {
	display: none;
}

.navbar-nav > li {
	padding: 13px 25px;
	text-transform: uppercase;
	text-align: center;
	float: none;
    font-size: 19px;

}

.navbar-nav > li > a {
	padding: 0;
	text-decoration: none;
}

.navbar-nav > li > a:after,
.navbar-nav > li.active > a:after {
	content: "";
	position: absolute;
	bottom: -14px;
	left: 0;
	width: 0;
	height: 8px;
	background: #073a64;
	-webkit-transition: width .3s;
	transition: width .3s;
}

.navbar-nav > li > a:hover:after,
.navbar-nav > li.active > a:after {
	width: 100%;
}

.navbar-nav > li.active {
	font-weight: bold;
}

.navbar-nav > li.open {
	font-weight: bold;
}

.navbar-nav > li.open > a:after {
	display: none;
}

.navbar-nav > li.open:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -11px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 11px 12px 11px;
	border-color: transparent transparent #104a79 transparent;
}

.navbar-nav .columns {
	overflow: hidden;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: stretch;
	-webkit-align-items: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
}

.navbar-nav .columns .col {
	float: left;
	width: 45%;
	padding: 33px 37px;
}

.navbar-nav .columns .col:first-child {
	width: 55%;
	padding: 0;
	background: #104a79;
}

.navbar-nav .dropdown-menu {
	width: 528px;
	border: 0;
	padding: 0;
	background: #083b64;
	color: #fff;
	font-size: 19px;
	line-height: 22px;
	font-weight: normal;
}

.navbar-nav .dropdown-menu .box {
	position: static;
}

.navbar-nav .dropdown-menu ul {
	padding: 32px 25px 13px;
	text-transform: none;
	letter-spacing: 2px;
	font-weight: bold;
}

.navbar-nav .dropdown-menu ul li {
	margin: 0 0 14px;
}

.navbar-nav .dropdown-menu ul li.active a {
	color: #fb7f3b;
}

.navbar-nav .dropdown-menu ul a {
	text-decoration: none;
	color: #fff;
}

.navbar-nav .dropdown-menu ul a:hover {
	color: #fb7f3b;
	text-decoration: none;
}

.navbar-nav .dropdown-menu .visual a {
	color: inherit;
	text-decoration: none;
}

.navbar-nav .dropdown-menu .visual img {
	width: 100%;
	height: auto;
}

.navbar-nav .dropdown-menu .visual .text {
	font-family: "satisfy", "Comic Sans MS", "Comic Sans MS", cursive;
	font-style: italic;
	text-transform: none;
	font-size: 16px;
	padding: 6px 0 0;
	display: block;
}

.navbar-nav .dropdown-menu .visual .text .ico {
	position: relative;
	font-size: 56px;
	display: inline-block;
	margin-top: -37px;
	vertical-align: top;
}

.navbar-nav .right-drop.open:after {
	border-color: transparent transparent #083b64 transparent;
}

.navbar-nav .right-drop .dropdown-menu {
	right: 0;
}

.navbar-default .navbar-nav > li > a {
	color: #06467a;
	font-weight: normal;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a {
	background: none;
	color: #06467a;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
	color: #06467a;
}

#tour-visual {
	min-height: 450px;
}
#tour-visual iframe {
	width: 100%;
}

.cursor-pointer {
	cursor: pointer;
}

.open-close-search {
	position: absolute;
	top: 9px;
	right: 180px;
}

.open-close-search > .opener {
	display: block;
	width: 34px;
	height: 34px;
	line-height: 38px;
	font-size: 20px;
	text-decoration: none;
	color: #06467a;
	text-align: center;
}

.home .open-close-search > .opener {
	color: #fff;
}

.open-close-search .slide {
	height: 43px !important;
	overflow: hidden;
	padding: 0 5px 0 0;
}

.open-close-search .slide.js-slide-hidden {
	left: auto !important;
	top: 0 !important;
	right: 0;
}

.navbar-toggle {
	margin: 8px 0;
	padding: 0;
	border: 0;
	width: 23px;
	height: 19px;
}

.navbar-toggle span.icon-bar {
	height: 3px;
	width: 100%;
	border-radius: 0;
}

.navbar-default .navbar-toggle .icon-bar {
	background: #06467a;
}

.home .navbar-default .navbar-toggle .icon-bar {
	background: #fff;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
	background: none;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
	background: none;
	margin: 0;
	border: 0;
}

body {
	background: url(images/bg-body.png) 50% 0;
	min-width: 320px;
	font-family: "quicksand", Arial, Helvetica, sans-serif;
	font-weight: 400;
}

#wrapper {
	width: 100%;
	position: relative;
	overflow: hidden;
}

.main-holder {
	margin: 0 auto;
	max-width: 1200px;
    -webkit-box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.55);
    -moz-box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.55);
    box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.55);
	position: relative;
	overflow: hidden;
}

.container-fluid {
	max-width: 1170px;
}

.section-first {
	padding: 258px 0 21px;
	background: url(images/Franchise_Main1.jpg) no-repeat 50% 0;
	background-size: cover;
	text-align: center;
	letter-spacing: -4px;
}

.section-first .slogan {
	display: inline-block;
	vertical-align: top;
	letter-spacing: 0;
	color: #fff;
	font: 60px/60px "satisfy", "Comic Sans MS", "Comic Sans MS", cursive;
	margin: 0 0 26px;
	text-shadow: -4px -1px 0 #06467a, 1px -1px 0 #06467a, -1px 1px 0 #06467a, 1px 1px 0 #06467a;
}

.section-first .btn-wrap {
	margin-bottom: 14px;
}

.section-first .btn {
	min-width: 232px;
}

.first-mobile {
	padding: 67px 0 14px;
	background: url(images/bg-06.jpg) no-repeat 100% 0;
	background-size: cover;
	color: #fff;
	font-size: 12px;
	line-height: 14px;
}

.first-mobile .text {
	width: 57%;
	padding: 0 0 0 8px;
}

.first-mobile .text .title {
	font-family: "satisfy", "Comic Sans MS", "Comic Sans MS", cursive;
	display: block;
	margin: 0 0 9px -7px;
	font-size: 29px;
	line-height: 32px;
}

.section-video {
	margin-top: -6px;
	padding: 80px 0;
	background: url(images/KidsRAmazing.jpg) no-repeat;
	background-size: cover;
}

.section-video .btn.btn-primary {
	box-shadow: none;
}

.section-school {
	padding: 73px 0 50px;
	background: url(images/bg-08.jpg) no-repeat;
	background-position: 100% 0;
	background-size: cover;
}

.section-school .text-block {
	padding: 0 64px;
	letter-spacing: 1px;
}

.section-school .text-wrap {
	text-align: left;
	font: 22px/30px "quicksand", Arial, Helvetica, sans-serif;
	padding-right: 80px;
}

.section-school .text-wrap a {
	font-weight: 700;
	text-decoration: underline;
	color: #06467a;
}

.section-school .text-wrap a:hover {
	text-decoration: none;
}

.section-school .text-wrap p {
	margin: 0 0 30px;
}

.section-school .btn-wrap {
	text-align: center;
}

.section-owners {
	padding: 62px 0 45px;
	background: #f2f6f5 url(images/bg-09-1.jpg) no-repeat;
	background-position: 50% 0;
	background-size: cover;
}

.section-owners .img-hold {
	position: relative;
	margin-bottom: 20px;
}

.section-owners .img-hold .play {
	position: absolute;
	top: 44%;
	left: 51%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.section-owners .play {
	text-transform: uppercase;
}

.section-owners .text-wrap {
	text-align: left;
	font: 22px/30px "quicksand", Arial, Helvetica, sans-serif;
	padding: 0 66px;
}

.section-owners .text-wrap p {
	margin-bottom: 30px;
}

.section-map {
	padding: 104px 0 103px;
	background: url(images/bg-10.jpg) no-repeat 50% 0;
	background-size: cover;
}

.battlement {
	position: relative;
}

.battlement:after {
	content: "";
	position: absolute;
	top: -5px;
	left: 0;
	width: 100%;
	height: 5px;
	background: url(images/battlement.png) repeat-x;
}

.contact-wrap {
	position: relative;
	margin: 0 -13px;
	padding: 27px 23px 17px;
	background: #f3f3f3;
	box-shadow: -3px -3px 24px 0 rgba(0, 0, 0, .14);
}

.contact-wrap:after {
	content: "";
	position: absolute;
	bottom: -103px;
	right: -99px;
	width: 261px;
	height: 201px;
	background: url(images/hand.png) no-repeat;
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: top;
	border: 0;
}

.img-inline {
    display: inline;
    float: left;
    margin-right: 5px;
}

.contact {
	color: #06467a;
	font-size: 16px;
	line-height: 22px;
	padding: 5px 0;
}

.contact .box {
	padding: 0 0 21px;
}

.contact .box p {
	margin: 0;
}

.contact h2 {
	font-size: 16px;
	line-height: 20px;
	margin: 0 0 2px;
	font-weight: bold;
	text-transform: uppercase;
	color: #06467a;
	letter-spacing: 0;
}

.contact address {
	margin: 0;
	padding: 0;
}

.contact address a {
	float: left;
	clear: both;
	text-transform: uppercase;
	color: #06467a;
	text-decoration: none;
	font-weight: normal;
}

.contact address a:focus,
.contact address a:hover {
	color: #fb8945;
	text-decoration: none;
}

.contact .link {
	font-size: 11px;
	text-decoration: underline;
}

.contact .link:hover {
	text-decoration: none;
}

.contact .btn-wrap {
	margin-bottom: 25px;
}

.contact .btn {
	padding: 8px 14px;
}

.map {
	display: block;
	width: 100%;
}

.map img {
	width: 100%;
	height: auto;
}

.labels {
  color: #fb8945;
  font-weight: bold;
  background-color: white;
  border-radius: 20px;
  font-family: "Lucida Grande", "Arial", sans-serif;
  font-size: 13px;
  text-align: center;
  width: 30px;
  padding-top: 5px;
  padding-bottom: 7px;
  white-space: nowrap;
}

.section-curriculum {
	padding: 45px 0 57px;
	background: url(images/bg-02.jpg) no-repeat 50% 0;
	background-size: cover;
}

.section-learning {
	padding: 45px 0 57px;
	background: url(images/bg-03.jpg) no-repeat 50% 0;
	background-size: cover;
}

.section-news {
	padding: 45px 0 57px;
	background: url(images/bg-04.jpg) no-repeat 50% 0;
	background-size: cover;
}

.section-news .text-block {
	padding: 0 35px;
}

.section-news .load-more {
	font-style: italic;
	font-size: 15px;
	letter-spacing: 1px;
	text-decoration: underline;
	font-weight: normal;
}

.section-news .load-more:hover {
	text-decoration: none;
}

.section-news .btn-wrap {
	text-align: left;
}

.post-block {
	margin: 0 0 49px;
	color: #06467a;
}

.post-block .img-box {
	padding: 3px 0 0;
}

.post-block .img-box.center img {
	display: block;
	margin: 0 auto;
}

.post-block .text-box {
	overflow: hidden;
	padding: 0 20px 0 0;
}

.post-block h2 {
	margin-bottom: 5px;
}

.post-block p {
	margin-bottom: 20px;
}

.btn {
	border-radius: 15px;
	border-width: 3px;
	font-size: 19px;
	line-height: 22px;
	text-align: center;
	padding: 8px 22px;
	position: relative;
	letter-spacing: 1px;
	text-decoration: none;
}

.btn > span {
	display: inline-block;
	margin-right: -7px;
	margin-left: 10px;
	font-size: 18px;
	position: relative;
	top: 2px;
}

.btn.btn-primary {
	box-shadow: 0 1px 5px 0 rgba(251, 137, 69, .9);
}

.btn.btn-info {
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 0;
}

h2 {
	font: 700 30px/34px "quicksand", Arial, Helvetica, sans-serif;
	letter-spacing: 1px;
	margin: 0 0 35px;
	color: #06467a;
}

.section-gallery h2 {
	padding-top: 45px;


}

h3 {
	font-size: 20px;
	line-height: 1.2;
	font-weight: bold;
	color: #06467a;
	text-transform: uppercase;
	margin: 0 0 4px;
}

h3 a {
	color: #06467a;
	-webkit-transition: opacity .3s;
	transition: opacity .3s;
	text-decoration: none;
}

h3 a:focus,
h3 a:hover {
	text-decoration: none;
	opacity: .7;
}

h4 {
	font-size: 20px;
	line-height: 1.2;
	font-weight: bold;
	color: #06467a;
	margin: 0 0 10px;
}

.text-block {
	text-align: center;
	color: #06467a;
}

.desk {
	display: block;
	color: inherit;
	padding: 0 100px;
	margin: 0 0 32px;
	font: 22px/30px "quicksand", Arial, Helvetica, sans-serif;
}

.btn-play {
	color: #fff;
	display: inline-block;
	vertical-align: top;
	margin: 0 0 32px;
	text-decoration: none;
}

.btn-play .icon {
	font-size: 113px;
}

.btn-play:hover {
	text-decoration: none;
}

.kids-curriculum {
	max-width: 592px;
	margin: 0 auto 36px;
}

.kids-curriculum li {
	float: left;
	width: 50%;
	padding: 0 16px;
	margin: 0 0 32px;
}

.kids-curriculum a {
	border-radius: 10px;
	overflow: hidden;
	display: block;
}

.kids-curriculum a:hover {
	opacity: .75;
}

.kids-curriculum img {
	vertical-align: top;
}

.post-news {
	text-align: left;
	font: 18px/24px "quicksand", Arial, Helvetica, sans-serif;
	margin: 0 0 52px;
}

.post-news h3 {
	font-size: 30px;
	text-transform: none;
	color: #fb8945;
	margin-bottom: 20px;
}

.post-news h3 > a {
	color: #fb8945;
}

.post-news h3 > a:focus,
.post-news h3 > a:hover {
	text-decoration: none;
	opacity: .7;
}

.post-news p {
	margin: 0;
}

.post-news .text-wrap {
	height: 72px;
	overflow: hidden;
}

.post-news .read-more {
	display: block;
	font-weight: 700;
	text-decoration: underline;
}

.post-news .read-more:hover {
	text-decoration: none;
}

.post-news .read-more .icon {
	font-size: 13px;
}

.block-posts .post-box {
	font: 22px/30px "quicksand", Arial, Helvetica, sans-serif;
	color: #06467a;
	border-bottom: 2px solid #e6ecf1;
	margin: 0 0 63px;
}

.block-posts .post-box:last-child {
	margin: 0 0 30px;
}

.block-posts .post-box p {
	margin: 0 0 36px;
}

.block-posts .post-box .link-to {
	font-size: 0;
	line-height: 0;
	letter-spacing: -4px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	margin: 0 0 55px;
}

.block-posts .post-box .name {
	overflow: hidden;
	display: inline-block;
	vertical-align: middle;
	letter-spacing: 0;
	font: italic 22px/22px "quicksand", Arial, Helvetica, sans-serif;
	text-align: left;
	margin-left: 17px;
}

.block-posts .post-box .social {
	display: inline-block;
	vertical-align: middle;
	letter-spacing: 0;
	text-decoration: none;
	font-size: 30px;
	background: #dc4b3a;
	color: #fff;
	width: 48px;
	border-radius: 4px;
	height: 40px;
	position: relative;
}

.block-posts .post-box .social .icon {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.block-posts .post-box .social:hover {
	opacity: .75;
}

.info-social {
	font: 700 25px/25px "quicksand", Arial, Helvetica, sans-serif;
}

.info-social a {
	text-decoration: underline;
	color: #fb8945;
}

.info-social a:hover {
	text-decoration: none;
}

.section-events {
	width: 100%;
	overflow: hidden;
	background: url(images/bg-11.jpg) no-repeat;
	background-size: cover;
	padding: 27px 0;
}

.section-events .title-event h2 {
	color: #06467a;
	margin: 0 0 20px;
	font-weight: bold;
	text-align: center;
}

.event {
	background: #fff;
}

.event .visual {
	width: 100%;
	position: relative;
}


#footer {
    max-width: 1200px;
    padding: 27px 30px 15px;
    margin: 0 auto;
    background: #06467a;
    color: #fff;
    position: relative;
    -webkit-box-shadow: 0px 0px 12px -2px rgba(0, 0, 0, 0.55);
    -moz-box-shadow: 0px 0px 12px -2px rgba(0, 0, 0, 0.55);
    box-shadow: 0px 0px 12px -2px rgba(0, 0, 0, 0.55);
}
.event .visual:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 10%;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 17px 20px 17px;
	border-color: transparent transparent #fff transparent;
}

.event .visual img {
	width: 100%;
	height: auto;
}

.event h3 {
	color: #fb8945;
	margin: 0 0 10px;
	font-size: 30px;
	line-height: 34px;
	font-weight: bold;
}

.event h3 a {
	color: #fb8945;
	text-decoration: none;
}

.event h3 a:focus,
.event h3 a:hover {
	opacity: .7;
}

.event .body-event {
	padding: 24px 31px 27px;
	color: #06467a;
	font-size: 18px;
	line-height: 1.333;
}

.event .body-event .more {
	color: #06467a;
	text-decoration: underline;
}

.event .body-event .more:focus,
.event .body-event .more:hover {
	text-decoration: none;
}

.event .body-event time {
	display: block;
	margin-bottom: 2px;
}

.event .body-event p {
	margin: 0 0 26px;
}

.event-wrap {
	background: #fff;
	padding: 23px 30px;
}

.list-event li {
	overflow: hidden;
	padding: 30px 0 0;
}

.list-event li:first-child {
	padding-top: 0;
}

.list-event li .data {
	float: left;
	width: 84px;
	text-align: center;
	font-weight: bold;
	color: #fb8945;
	font-size: 30px;
	line-height: 33px;
	margin: 0 10% 0 0;
	text-transform: uppercase;
}

.list-event li .data .num {
	display: block;
	font-size: 57px;
	line-height: 44px;
}

.list-event .text {
	overflow: hidden;
	color: #06467a;
	font-size: 18px;
	line-height: 1.333;
}

.list-event h3 {
	color: #fb8945;
	margin: 0 0 10px;
	font-size: 30px;
	line-height: 34px;
	font-weight: bold;
}

.list-event h3 a {
	color: #fb8945;
	text-decoration: none;
}

.list-event h3 a:focus,
.list-event h3 a:hover {
	opacity: .7;
}

.list-event .more {
	color: #06467a;
	text-decoration: underline;
}

.list-event .more:focus,
.list-event .more:hover {
	text-decoration: none;
}

.list-event p {
	margin: 0;
}

.video-container {
	background: #f3f3f3;
	font-size: 0;
	line-height: 0;
	letter-spacing: -4px;
}

.video-container .video-img-wrap {
	display: inline-block;
	vertical-align: middle;
	letter-spacing: 0;
	width: 56.8%;
	position: relative;
}

.video-container .video-img-wrap .btn-play {
	text-decoration: none;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.video-container .video-text-wrap {
	display: inline-block;
	vertical-align: middle;
	letter-spacing: 0;
	width: 43.2%;
	text-align: center;
	padding: 0 7%;
}

.video-container .video-text-wrap .hold {
	display: inline-block;
	vertical-align: middle;
	white-space: normal;
}

.video-container .video-text-wrap .slogan {
	font: 59px/62px "satisfy", "Comic Sans MS", "Comic Sans MS", cursive;
	color: #fb8945;
	display: block;
	padding-bottom: 26px;
	margin: 0 0 24px;
	border-bottom: 3px solid #dbe1e7;
}

.video-container .video-text-wrap .info {
	font-size: 22px;
	line-height: 32px;
	display: block;
	margin-bottom: 28px;
	padding: 0 10%;
}

.video-container .video-text-wrap .btn {
	font-size: 23px;
	line-height: 24px;
	border-radius: 27px;
	padding: 10px 22px 11px;
}

.video-container .video-text-wrap .btn .play {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: #fff;
	position: relative;
	top: 6px;
}

.video-container .video-text-wrap .btn .play:after {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 9px 0 9px 14px;
	border-color: transparent transparent transparent #fb8945;
	right: 41%;
	top: 50%;
	-webkit-transform: translate(50%, -50%);
	-ms-transform: translate(50%, -50%);
	transform: translate(50%, -50%);
}

.two-columns {
	padding: 45px 0 70px;
	background: #fff;
	font-size: 19px;
	line-height: 1.579;
}

.two-columns .section-xtx {
	font-size: 19px;
	line-height: 1.579;
}

.two-columns .section-xtx p {
	margin-bottom: 30px;
}

.two-columns p {
	margin-bottom: 30px;
}

.two-columns h3 {
	text-transform: none;
	letter-spacing: 0;
}

.two-columns .col-first {
	padding-right: 70px;
	border-right: 3px solid #e6ecf1;
}

.two-columns .col-first .img-holder {
	margin-bottom: 58px;
}

.two-columns .col-first .btn-wrap {
	text-align: center;
}

.two-columns .col-first .link {
	color: #fb8945;
}

.two-columns .col-second .img-holder {
	margin-bottom: 38px;
}

.logo-hold img.program,
.logo-hold picture.program {
	display: block;
	width: 50%;
	max-width: 230px;
	margin: 0 auto;
	margin-top: 5%;
}

.title-page {
	text-transform: uppercase;
}

.title-page h1 {
	margin: 0;
	color: #fff;
	font-weight: bold;
	font-size: 28px;
	line-height: 1;
}

.title-page.title {
	padding: 10px 0 4px;
}

.breadcrumbs-wrap {
	background: #cddae4;
	padding: 5px 0 9px;
}

.breadcrumb {
	color: #fff;
	margin: 0 0 -6px;
	font-size: 14px;
}

.breadcrumb a {
	color: #fff;
	text-decoration: none;
	font-weight: normal;
	-webkit-transition: color .3s;
	transition: color .3s;
}

.breadcrumb a:hover {
	color: #06467a;
}

.breadcrumb > li + li:before {
	padding: 0 1px;
	display: none;
}

.breadcrumb > li:after {
	content: "> ";
	padding: 0 1px;
	color: #fff;
}

.menu-wrap {
	position: relative;
	padding-bottom: 10px;
	margin-bottom: 20px;
}

.menu-wrap:after {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	width: 4px;
	background: #e6ecf1;
}

.sub-menu {
	margin: -2px 0 0;
	padding-right: 10px;
}

.sub-menu > li {
	font-size: 20px;
	line-height: 1.1;
	font-weight: bold;
	position: relative;
	letter-spacing: 1px;
	margin-bottom: 31px;
}

.sub-menu > li.active > a {
	color: #fb8945;
}

.sub-menu > li.active ul {
	max-height: 400px;
}

.sub-menu > li:hover ul {
	max-height: 400px;
}

.sub-menu > li > a {
	text-decoration: none;
}

.sub-menu > li > a:focus,
.sub-menu > li > a:hover {
	color: #fb8945;
	text-decoration: none;
}

.sub-menu > li ul {
	padding: 0 0 0 22px;
	top: 100%;
	max-height: 0;
	overflow: hidden;
	-webkit-transition: max-height .3s;
	transition: max-height .3s;
}

.sub-menu > li ul > li {
	padding: 9px 0 1px 24px;
	font-size: 16px;
	left: 19px;
	font-weight: normal;
	letter-spacing: 0;
}

.sub-menu > li ul > li:first-child {
	padding-top: 8px;
}

.sub-menu > li ul > li.active a {
	font-weight: bold;
	color: #fb8945;
}

.sub-menu > li ul > li.active a:after {
	background: #fb8945;
}

.sub-menu > li ul > li a {
	position: relative;
	text-decoration: none;
	font-weight: normal;
}

.sub-menu > li ul > li a:after {
	content: "";
	position: absolute;
	top: 5px;
	left: -20px;
	width: 9px;
	height: 9px;
	border-radius: 50%;
	background: #f0f4f7;
}

.sub-menu > li ul > li a:focus,
.sub-menu > li ul > li a:hover {
	color: #fb8945;
	text-decoration: none;
}

.sub-menu > li ul > li a:focus:after,
.sub-menu > li ul > li a:hover:after {
	background: #fb8945;
}

#twocolumns {
	background: #fff;
	padding: 42px 0;
}

.visual-img {
	position: relative;
	margin-bottom: 43px;
}

.visual-img .text {
	position: absolute;
	font-size: 47px;
	line-height: 1.085;
	color: #fff;
	padding: 0 38px;
	width: 100%;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.visual-img img {
	max-width: none;
	width: 100%;
}

.item {
	color: #06467a;
	overflow: hidden;
	margin-bottom: 68px;
	padding-bottom: 5px;
}

.item .visual {
	float: right;
	width: 223px;
	margin: 0 0 0 7%;
}

.item .text {
	overflow: hidden;
	padding: 1px;
}

.item .title {
	padding-bottom: 17px;
}

.item p {
	margin: 0 0 15px;
}

.line {
	margin: 0 -30px 44px 0;
	display: block;
	border-width: 11px;
}

.line.grey {
	border-color: #e6ecf1;
}

.careers-wrap {
	margin-top: -7px;
}

.careers-wrap .btn {
	border-radius: 27px;
	font-size: 23px;
	line-height: 26px;
	padding: 11px 22px;
}

.careers {
	color: #06467a;
	padding-bottom: 5px;
	margin-bottom: 16px;
}

.careers h4 {
	margin-bottom: 2px;
}

.careers h3 {
	margin-bottom: 2px;
}

.careers .button-wrap {
	padding: 16px 0 0;
}

.careers .btn {
	border-radius: 27px;
	text-transform: uppercase;
	padding: 11px 15px;
	font-size: 23px;
	line-height: 26px;
	min-width: 172px;
}

.careers .btn.btn-primary {
	box-shadow: 1px 1px 7px 0 rgba(251, 137, 69, .9);
}

.careers p {
	margin: 0 0 20px;
}

.back-to-top {
	position: absolute;
	bottom: 20px;
	right: 5px;
	text-align: center;
	text-transform: uppercase;
	color: #fb8945;
	font-size: 10px;
	line-height: 12px;
	font-weight: bold;
	-webkit-transition: color .3s;
	transition: color .3s;
	text-decoration: none;
}

.back-to-top:focus {
	text-decoration: none;
}

.back-to-top:hover {
	text-decoration: none;
	color: #06467a;
}

.back-to-top:hover .ico {
	background: #06467a;
	box-shadow: 2px 2px 1px 0 rgba(44, 91, 135, .35);
}

.back-to-top .ico {
	display: block;
	margin: 0 auto;
	background: #fb8945;
	color: #fff;
	width: 36px;
	height: 36px;
	font-size: 22px;
	line-height: 36px;
	border-radius: 50%;
	box-shadow: 2px 2px 1px 0 rgba(244, 105, 44, .35);
	-webkit-transition: box-shadow .3s, background .3s;
	transition: box-shadow .3s, background .3s;
}

.txt {
	margin: -13px 0 0;
}

.txt h3 {
	margin-bottom: 33px;
}

a {
	font-weight: bold;
	text-decoration: underline;
}

a:hover {
	color: #fb8945;
}

.contact-block {
	padding: 51px 0 69px;
}

.contact-block .contact {
	font-size: 20px;
	line-height: 1.4;
	padding: 0;
}

.contact-block .contact h2 {
	font-size: 20px;
	line-height: 1.4;
	margin-bottom: 0;
}

.contact-block .contact .box {
	padding-bottom: 27px;
}

.contact-block .contact .email {
	font-weight: bold;
	text-decoration: underline;
	text-transform: none;
}

.contact-block .contact .email:hover {
	text-decoration: none;
}

.contact-block .contact .btn-wrap {
	padding-top: 10px;
}

.box-view {
	padding: 61px 62px 46px;
	margin: 0 0 38px;
	background: #edf2f6;
}

.box-view .visual {
	margin: 0 0 18px;
}

.box-view .visual img {
	max-width: none;
	width: 100%;
}

.box-view .visual a {
	display: block;
	position: relative;
	color: #fff;
	text-decoration: none;
	font-weight: normal;
	font-size: 50px;
	line-height: 1;
}

.box-view .visual a:hover .text {
	opacity: .7;
}

.box-view .visual a:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: .6;
}

.box-view .visual .text {
	position: absolute;
	left: 0;
	width: 100%;
	padding: 0 10%;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	text-align: center;
	font-family: "satisfy", "Comic Sans MS", "Comic Sans MS", cursive;
	z-index: 10;
	-webkit-transition: opacity .3s;
	transition: opacity .3s;
}

.box-view .visual .text .ico {
	font-size: 119px;
	line-height: 1;
	display: block;
	vertical-align: top;
	margin-top: 40px;
}

.box-view .body-view {
	max-width: 411px;
	border-left: 3px solid #d5e0e9;
	border-right: 3px solid #d5e0e9;
	margin: 0 auto;
	padding: 12px 20px;
	font-size: 16px;
	line-height: 1.5625;
	text-align: center;
}

.box-view .body-view h2 {
	font-size: 25px;
	line-height: 1.4;
	margin: 0 0 12px;
}

.box-view .body-view p {
	margin: 0;
}

.list-img {
	overflow: hidden;
	margin: 0 -21px 28px;
}

.list-img li {
	float: left;
	width: 33.333%;
	padding: 0 21px 41px;
}

.list-img a {
	display: block;
	position: relative;
}

.list-img a:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0;
	-webkit-transition: opacity .3s;
	transition: opacity .3s;
}

.list-img a:hover:after {
	opacity: .5;
}

.list-img img {
	width: 100%;
	max-width: none;
}

.row-text {
	padding-bottom: 10px;
	margin-bottom: 65px;
}

.list {
	padding: 21px 3% 0 6.2%;
	line-height: 1.45;
}

.list li {
	padding: 0 0 12px 21px;
	position: relative;
}

.list li:after {
	content: "";
	position: absolute;
	top: 12px;
	left: 0;
	width: 5px;
	height: 5px;
	border-radius: 50%;
	background: #06467a;
}

.text-container {
	color: #06467a;
	margin: 0 0 99px;
}

.text-container h2 {
	margin-bottom: 24px;
}

.text-container h3 {
	margin-bottom: 2px;
	text-transform: none;
}

.text-container p {
	margin-bottom: 54px;
}

.text-container .line {
	border-width: 1px;
	margin: 59px 0 51px;
}

.event-block {
	margin: 0 0 69px;
	color: #06467a;
}

.event-block .img-box {
	padding: 3px 0 0;
}

.event-block .text-box {
	overflow: hidden;
	padding: 0 20px 0 0;
}

.event-block h2 {
	margin-bottom: 5px;
}

.event-block p {
	margin-bottom: 20px;
}

.info-block {
	padding: 0 0 43px;
	border-bottom: 1px solid #e6ecf1;
	margin: 0 0 25px;
}

.info-block a {
	text-decoration: none;
}

.info-block h2 {
	margin-bottom: 18px;
}

.block-text {
	width: 100%;
	overflow: hidden;
	font-size: 20px;
	line-height: 28px;
	color: #06467a;
}

.block-text .visual-img {
	overflow: hidden;
	margin-bottom: 43px;
}

.block-text h2 {
	font-size: 30px;
	line-height: 32px;
	font-weight: 700;
	margin-bottom: 20px;
}

.block-text p {
	margin: 0;
}

.block-text p a {
	font-weight: 700;
}

.section-info {
	width: 100%;
	overflow: hidden;
}

.section-404 {
	padding: 84px 0;
	background: url(images/bg-07.jpg) no-repeat 50% 0;
	background-size: cover;
}

.section-thankyou {
	background: #fff;
}

.section-thankyou img {
	margin-top: -316px;
	width: 100%;
	height: auto;
}

.section-thankyou .block-information {
	padding: 45px 0 0;
}

.section-thankyou .block-information .big-title {
	margin-bottom: 25px;
}

.section-thankyou .block-information .info {
	margin-bottom: 27px;
}

.section-thankyou .txt {
	max-width: 55%;
}

.block-information {
	color: #06467a;
	padding: 0 30px;
}

.block-information .big-title {
	display: block;
	letter-spacing: 3px;
	margin: 0 0 56px;
	font: 700 91px/91px "quicksand", Arial, Helvetica, sans-serif;
}

.block-information span {
	display: block;
}

.block-information .info {
	font: 700 25px/30px "quicksand", Arial, Helvetica, sans-serif;
	letter-spacing: 1px;
	margin: 0 0 58px;
}

.block-information .info a {
	color: #fb8945;
	text-decoration: underline;
}

.block-information .info a:hover {
	text-decoration: none;
}

.block-information .error {
	font: 700 14px/17px "quicksand", Arial, Helvetica, sans-serif;
	margin: 0 0 16px;
}

.block-information .txt {
	font: 700 14px/17px "quicksand", Arial, Helvetica, sans-serif;
}

.block-information ul {
	font: 700 14px/17px "quicksand", Arial, Helvetica, sans-serif;
}

.block-information ul a {
	font-weight: 700;
	color: #fb8945;
	text-decoration: none;
}

.block-information ul a:hover {
	color: #a6def3;
}

.wrap-sections {
	margin-top: -10px;
	margin-bottom: 20px;
}

.section-xtx {
	font-size: 18px;
	line-height: 1.5;
}

.section-xtx h4 {
	margin-bottom: 28px;
}

.section-xtx p {
	margin: 0 0 28px;
}

.logo-columns {
	overflow: hidden;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: stretch;
	-webkit-align-items: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
	margin-bottom: 60px;
}

.logo-columns .col {
	width: 57%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	padding: 0 10px;
}

.logo-columns .col:first-child {
	width: 43%;
	border-right: 2px solid #e6ecf1;
	padding: 0 10px 0 0;
}

.form-info {
	width: 100%;
	overflow: hidden;
	background: #edf2f6;
	text-align: center;
	padding: 16px 10px 20px;
}

.form-info .title {
	display: block;
	text-align: center;
	font: 45px/47px "satisfy", "Comic Sans MS", "Comic Sans MS", cursive;
	color: #06467a;
	margin: 0 0 12px;
}

.form-info .form-group {
	display: inline-block;
	margin-bottom: 0;
	vertical-align: middle;
}

.form-info .hold {
	text-align: center;
	letter-spacing: -4px;
	font-size: 0;
	line-height: 0;
	margin-bottom: 2px;
}

.form-info .form-control {
	height: 45px;
	padding: 10px 19px 8px;
	font: italic 21px/24px "quicksand", Arial, Helvetica, sans-serif;
	color: #06467a;
	background: #fff;
	box-shadow: inset 5px 5px 6px 0 rgba(139, 161, 170, .29);
	border-radius: 9px 0 0 9px;
	border: 0;
	width: 278px;
	letter-spacing: 1px;
}

.form-info .btn {
	font-size: 21px;
	line-height: 24px;
	height: 43px;
	border: 0;
	border-radius: 0 9px 9px 0;
	background: #fb8945;
	box-shadow: 1px 0 5px 0 rgba(123, 132, 135, .34);
	-webkit-transition: background .3s, box-shadow .3s;
	transition: background .3s, box-shadow .3s;
	width: 68px;
	padding: 0;
	color: #fff;
	font-weight: 700;
	text-transform: uppercase;
}

.form-info .btn:hover {
	background: #fa6913;
	box-shadow: 1px 0 5px 0 rgba(123, 132, 135, .34);
}

.form-info .txt {
	font-size: 13px;
	line-height: 15px;
	font-style: italic;
}

.form-info .txt a {
	color: #06467a;
	font-weight: 300;
	text-decoration: underline;
}

.form-info .txt a:hover {
	text-decoration: none;
}

.box-map {
	position: relative;
	width: 100%;
	border: 6px solid #f7f7f7;
	height: 648px;
}

.box-map img {
	max-width: none;
	width: 100%;
	height: 100%;
}

.box-map .icon {
	position: absolute;
	font-size: 22px;
	line-height: 24px;
	font-weight: 700;
	text-align: center;
	color: #fb8945;
	top: 13%;
	left: 19.8%;
	text-decoration: none;
	width: 35px;
	height: 35px;
}

.box-map .icon .ico {
	position: absolute;
	top: -8px;
	left: -8px;
	font-size: 65px;
	color: #06467a;
}

.box-map .icon .number {
	position: absolute;
	width: 35px;
	height: 35px;
	background: #fff;
	top: 0;
	left: 0;
	z-index: 1;
	border-radius: 50%;
	padding: 5px 2px 3px;
}

.box-map .icon.icon2 {
	top: 33.5%;
	left: 63.92%;
}

.box-map .icon.icon3 {
	top: 54.32%;
	left: 56.41%;
}

.box-map .icon.icon4 {
	top: 60.65%;
	left: 65.55%;
}

.block-contact {
	width: 100%;
	overflow: hidden;
	margin-top: -30px;
	margin: -30px 0 50px;
}

.block-contact .contact-info {
	height: 690px;
	overflow: auto;
}

.block-contact .box {
	width: 100%;
	overflow: hidden;
	border-top: 3px solid #e6ecf1;
	padding: 50px 0 40px;
}

.block-contact .box:first-child {
	border-top: none;
	padding: 27px 0 40px;
}

.block-contact .box-hold {
	overflow: hidden;
	padding: 0 65px 0 0;
}

.block-contact .text {
	overflow: hidden;
	font-size: 18px;
	line-height: 22px;
	font-weight: 400;
}

.block-contact .text span {
	display: block;
	margin: 0 0 2px;
}

.block-contact .text span a {
	color: #06467a;
	font-weight: 400;
	text-decoration: none;
}

.block-contact .text span a:hover {
	text-decoration: underline;
}

.block-contact address {
	overflow: hidden;
	margin: 0 0 2px;
	color: #06467a;
}

.block-contact .title {
	margin: 0 0 5px;
	text-transform: uppercase;
	display: block;
	font-size: 20px;
	line-height: 22px;
	font-weight: 700;
	color: #fb8945;
}

.block-contact ul {
	overflow: hidden;
	font-weight: 700;
}

.block-contact ul li {
	float: left;
	position: relative;
	padding: 0 10px;
}

.block-contact ul li:after {
	content: "";
	position: absolute;
	height: 18px;
	width: 1px;
	background: #06467a;
	top: 0;
	left: 0;
}

.block-contact ul li:first-child {
	padding: 0 10px 0 0;
}

.block-contact ul li:first-child:after {
	display: none;
}

.block-contact ul a {
	text-decoration: underline;
}

.block-contact ul a:hover {
	text-decoration: none;
}

.block-contact .number {
	float: left;
	width: 36px;
	padding: 0 5px 0 3px;
	font-size: 20px;
	line-height: 22px;
	font-weight: 700;
	color: #fb8945;
}

.block-inform {
	width: 100%;
	overflow: hidden;
	margin: -13px 0 0;
}

.block-inform h2 {
	font-size: 38px;
	line-height: 40px;
	font-weight: 700;
	margin: 0 0 52px;
}

.block-inform .block {
	width: 100%;
	overflow: hidden;
	border-bottom: 2px solid #e6ecf1;
	padding: 16px 0;
	margin: 0 0 40px;
}

.block-inform .block:last-child {
	border-bottom: none;
}

.block-inform h3 {
	font-size: 20px;
	line-height: 22px;
	font-weight: 700;
	margin: 0 0 22px;
	text-transform: none;
}

.block-inform .hold {
	width: 100%;
	overflow: hidden;
	margin: 0 0 48px;
	font-size: 18px;
	line-height: 22px;
}

.block-inform .hold strong {
	display: block;
	margin: 0 0 6px;
}

.block-inform .hold span {
	margin: 0 0 6px;
	display: block;
}

.block-inform .hold address {
	overflow: hidden;
	margin: 0;
}

.block-inform .hold address span {
	display: block;
	margin: 0 0 2px;
}

.block-inform .hold address span a {
	color: #06467a;
	text-decoration: none;
	font-weight: 400;
}

.block-inform .hold address span a:hover {
	text-decoration: underline;
}

.block-inform .hold address ul {
	overflow: hidden;
	font-weight: 700;
}

.block-inform .hold address ul li {
	float: left;
	padding: 0 12px;
	position: relative;
}

.block-inform .hold address ul li:after {
	content: "";
	position: absolute;
	top: 5px;
	left: 0;
	height: 18px;
	background: #06467a;
	width: 1px;
}

.block-inform .hold address ul li:first-child {
	padding: 0 12px 0 0;
}

.block-inform .hold address ul li:first-child:after {
	display: none;
}

.block-inform .hold address ul a {
	color: #fb833f;
}

.block-inform .hold address ul a:hover {
	text-decoration: none;
}

.section-gallery {
	text-align: center;
	background: url(images/OurStories_Home.jpg) no-repeat;
	background-size: cover;
	width: 100%;
	max-height: 465px;
}

.carousel,
.cycle-gallery {
	position: relative;
	width: 100%;
	padding: 73px 10% 32px;
}

.carousel .mask,
.cycle-gallery .mask {
	position: relative;
	overflow: hidden;
	width: 100%;
}

.carousel .slideset,
.cycle-gallery .slideset {
	float: left;
	width: 99999px;
}

.carousel .slide,
.cycle-gallery .slide {
	float: left;
	width: 100%;
}

.carousel .slide.active,
.cycle-gallery .slide.active {
	z-index: 1;
}

.carousel .text-block,
.cycle-gallery .text-block {
	max-width: 400px;
	margin: 0 auto;
}

.carousel .desk,
.cycle-gallery .desk {
	padding: 0;
}

.carousel .link-to,
.cycle-gallery .link-to {
	font-size: 0;
	line-height: 0;
	letter-spacing: -4px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.carousel .name,
.cycle-gallery .name {
	overflow: hidden;
	display: inline-block;
	vertical-align: middle;
	letter-spacing: 0;
	font: italic 22px/26px "quicksand", Arial, Helvetica, sans-serif;
	text-align: left;
	margin-left: 20px;
}

.carousel .social,
.cycle-gallery .social {
	display: inline-block;
	vertical-align: middle;
	letter-spacing: 0;
	text-decoration: none;
	font-size: 30px;
	background: #dc4b3a;
	color: #fff;
	width: 48px;
	border-radius: 4px;
	height: 40px;
	position: relative;
}

.carousel .social .icon,
.cycle-gallery .social .icon {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.carousel .social:hover,
.cycle-gallery .social:hover {
	opacity: .75;
}

.carousel .btn-prev,
.carousel .btn-next,
.cycle-gallery .btn-prev,
.cycle-gallery .btn-next {
	width: 70px;
	height: 70px;
	background: rgba(255, 255, 255, .85);
	border-radius: 50%;
	position: absolute;
	top: 50%;
	left: 14px;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	color: #fb8945;
	font-size: 40px;
}

.carousel .btn-prev .icon,
.carousel .btn-next .icon,
.cycle-gallery .btn-prev .icon,
.cycle-gallery .btn-next .icon {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.carousel .btn-next,
.cycle-gallery .btn-next {
	left: auto;
	right: 14px;
}

.carousel h2,
.cycle-gallery h2 {
	margin-bottom: 47px;
}

.carousel-control.left,
.carousel-control.right {
	width: 70px;
	height: 70px;
	background: rgba(255, 255, 255, .85);
	border-radius: 50%;
	position: absolute;
	top: 50%;
	left: 14px;
	right: auto;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	color: #fb8945;
	font-size: 40px;
	text-shadow: none;
	opacity: 1;
	-webkit-transition: opacity .3s;
	transition: opacity .3s;
}

.carousel-control.left:hover,
.carousel-control.right:hover {
	opacity: .7;
}

.carousel-control.left .icon,
.carousel-control.right .icon {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.carousel-control.right {
	left: auto;
	right: 14px;
}

.carousel.datepicker-carousel {
	padding: 42px 0 0 3px;
	border-top: 1px solid #cddae4;
	margin: 0 0 18px;
}

.carousel.datepicker-carousel .carousel-control.left,
.carousel.datepicker-carousel .carousel-control.right {
	background: #ced5df;
	letter-spacing: 0;
	color: #fff;
	font-size: 38px;
	line-height: 44px;
	font-weight: 700;
	border-radius: 7px;
	width: 46px;
	height: 46px;
	text-decoration: none;
	-webkit-transition: background .3s ease;
	transition: background .3s ease;
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
	position: static;
	display: inline-block;
	vertical-align: top;
	margin: 0 5px;
}

.carousel.datepicker-carousel .carousel-control.left:hover,
.carousel.datepicker-carousel .carousel-control.right:hover {
	background: #06467a;
	opacity: 1;
}

.carousel .date-holder {
	display: block;
	max-width: 63%;
	font-size: 30px;
	line-height: 30px;
	margin: 0 0 38px;
	font-weight: 700;
}

.carousel .button-hold {
	position: absolute;
	right: 0;
	top: 42px;
	background: #fff;
	z-index: 999;
	padding: 10px 0 30px 20px;
	margin: 0 -5px;
	letter-spacing: -4px;
}

.btn-add {
	display: inline-block;
	vertical-align: top;
	position: relative;
	padding: 0 0 0 59px;
	text-transform: uppercase;
	font-size: 20px;
	line-height: 46px;
	font-weight: 700;
	color: #a4b2c3;
	text-decoration: none;
	-webkit-transition: color .3s ease;
	transition: color .3s ease;
}

.btn-add:hover .icon {
	background: #06467a;
}

.btn-add .icon {
	position: absolute;
	top: 50%;
	left: 0;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	width: 46px;
	height: 46px;
	border-radius: 7px;
	font-size: 38px;
	line-height: 44px;
	font-weight: 700;
	text-align: center;
	color: #fff;
	background: #ced5df;
	-webkit-transition: background .3s ease;
	transition: background .3s ease;
}

.table-responsive {
	border: 0;
	width: 100%;
	overflow-y: auto;
	margin: 0 0 19px;
}

.ui-datepicker-calendar {
	min-width: 820px;
	background: #fcfcfc;
	border: 1px solid #ecf1f5;
	width: 100%;
}

.ui-datepicker-calendar th {
	padding: 6px 7px;
	font-size: 11px;
	line-height: 16px;
	font-weight: 300;
	text-transform: uppercase;
	border-left: 2px solid #ecf1f5;
	white-space: nowrap;
}

.ui-datepicker-calendar th:first-child {
	width: 14.29%;
	border-left: 0;
}

.ui-datepicker-calendar th:nth-child(2),
.ui-datepicker-calendar th:nth-child(3),
.ui-datepicker-calendar th:nth-child(4),
.ui-datepicker-calendar th:nth-child(5) {
	width: 14.29%;
}

.ui-datepicker-calendar td {
	font-size: 10px;
	line-height: 12px;
	vertical-align: top;
	border: solid #ecf1f5;
	border-width: 1px 0 0 2px;
}

.ui-datepicker-calendar td:first-child {
	border-left: 0;
}

.ui-datepicker-calendar .number {
	display: block;
	font-size: 15px;
	line-height: 18px;
	font-weight: 700;
	color: #fb8945;
	margin: 0 0 15px;
}

.ui-datepicker-calendar .event-holder {
	display: block;
}

.ui-state-default {
	display: block;
	position: relative;
	padding: 5px 8px;
	text-decoration: none;
	height: 82px;
	overflow-y: auto;
	-webkit-transition: color .3s ease;
	transition: color .3s ease;
}

.ui-state-default:hover {
	color: #fb8945;
}

.ui-state-default:hover:before {
	opacity: 1;
}

.ui-state-default.ui-state-active {
	color: #fb8945;
}

.ui-state-default.ui-state-active:before {
	opacity: 1;
}

.ui-state-default.ui-state-disabled {
	opacity: .2;
	cursor: default;
}

.ui-state-default.ui-state-disabled:hover {
	color: #06467a;
}

#footer {
	max-width: 1200px;
	padding: 27px 30px 15px;
	margin: 0 auto;
	background: #06467a;
	color: #fff;
	position: relative;
}

#footer h2 {
	text-transform: uppercase;
	margin: 0 0 8px;
	font-size: 13px;
	line-height: 16px;
	font-weight: 700;
	color: #fff;
	letter-spacing: 0;
}

#footer .row {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: stretch;
	-webkit-align-items: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
}

.email-form {
	font-size: 16px;
	line-height: 19px;
	padding: 12px 0 0;
	max-width: 263px;
}

.email-form p {
	margin: 0 0 5px;
}

.email-form .title {
	font-size: 30px;
	line-height: 32px;
	font-family: "satisfy", "Comic Sans MS", "Comic Sans MS", cursive;
	display: block;
	margin: 0 0 9px;
}

.email-form .input-wrap {
	border-radius: 9px;
	overflow: hidden;
	position: relative;
	padding: 0 31px 0 0;
}

.email-form .btn {
	position: absolute;
	right: 0;
	top: 0;
	font-size: 18px;
	width: 31px;
	height: 30px;
	border: 0;
	padding: 0;
	text-align: center;
	border-radius: 0 9px 9px 0;
	color: #fff;
	background: #fb833f;
	box-shadow: none;
}

.email-form .btn:hover {
	background: #fa6913;
}

.email-form .btn > span {
	margin: 0;
	position: absolute;
	right: 50%;
	top: 50%;
	-webkit-transform: translate(50%, -50%);
	-ms-transform: translate(50%, -50%);
	transform: translate(50%, -50%);
}

.email-form .form-control {
	font-size: 12px;
	line-height: 14px;
	height: 30px;
	padding: 8px 16px;
	width: 100%;
	display: block;
	border: 0;
	border-radius: 0;
	font-style: italic;
	color: #06467a;
}

.email-form .form-control::-webkit-input-placeholder {
	color: #06467a;
}

.email-form .form-control::-moz-placeholder {
	opacity: 1;
	color: #06467a;
}

.email-form .form-control:-moz-placeholder {
	color: #06467a;
}

.email-form .form-control:-ms-input-placeholder {
	color: #06467a;
}

.email-form .form-control.placeholder {
	color: #06467a;
}

.email-form .btn-default:active:hover,
.email-form .btn-default:active:focus,
.email-form .btn-default:active.focus,
.email-form .btn-default.active:hover,
.email-form .btn-default.active:focus,
.email-form .btn-default.active.focus {
	background: #fa6913;
}

.menu > ul {
	font-size: 13px;
	line-height: 16px;
}

.menu > ul li {
	margin: 0 0 3px;
}

.menu > ul a {
	color: #fff;
	-webkit-transition: color .3s;
	transition: color .3s;
	text-decoration: none;
}

.menu > ul a:focus,
.menu > ul a:hover {
	color: #fb8945;
	text-decoration: none;
}

.social-networks {
	float: right;
	margin: 0 0 24px;
}

.social-networks li {
	float: left;
	font-size: 26px;
	line-height: 36px;
	margin-left: 13px;
}

.social-networks li:first-child {
	margin-left: 0;
}

.social-networks a {
	color: #fff;
	display: block;
	-webkit-transition: color .3s;
	transition: color .3s;
	text-decoration: none;
}

.social-networks a:hover {
	text-decoration: none;
	color: #fb8945;
}

.social-networks .icon-google {
	font-size: 44px;
}

.social-networks .icon-instagram {
	font-size: 40px;
}

.btn-hold {
	clear: both;
	position: absolute;
	bottom: 8px;
	right: 17px;
}

.button-become {
	position: relative;
	font-size: 23px;
	line-height: 26px;
	font-family: "satisfy", "Comic Sans MS", "Comic Sans MS", cursive;
	color: #fff;
	float: right;
	padding: 6px 11px;
	background: #60b5d6;
	text-decoration: none;
}

.button-become:after {
	content: "";
	position: absolute;
	top: 0;
	right: 100%;
	bottom: 0;
	width: 0;
	border-style: solid;
	border-width: 19px 0 19px 20px;
	border-color: #60b5d6 transparent #60b5d6 transparent;
}

.button-become:before {
	content: "";
	position: absolute;
	top: 100%;
	right: 16px;
	width: 63px;
	height: 25px;
	background: #0f69a4;
	-webkit-transform: skewX(-51deg);
	-ms-transform: skewX(-51deg);
	transform: skewX(-51deg);
}

.button-become:focus,
.button-become:hover {
	text-decoration: none;
}

.tour-holder {
    overflow: hidden;
    max-width: 1200px;
    margin: 0 auto;
    -webkit-box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.55);
    -moz-box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.55);
    box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.55);
}

.box-tour-mobile {
	padding: 20px 10px 24px;
	margin-bottom: 6px;
	background: #a6def3;
	text-align: center;
	color: #06467a;
	font-size: 11px;
	line-height: 14px;
}

.box-tour-mobile .title {
	font-size: 13px;
	line-height: 16px;
}

.box-tour-mobile .button-tour {
	display: inline-block;
	padding: 12px 10px;
	letter-spacing: 1px;
	font-size: 18px;
	line-height: 22px;
	text-transform: uppercase;
	color: #fff;
	font-weight: bold;
	position: relative;
	background: url(images/sprite-btn.png) repeat-x;
	height: 48px;
	background-position: 0 -96px;
	-webkit-transition: color .3s;
	transition: color .3s;
	text-decoration: none;
}

.box-tour-mobile .button-tour:focus,
.box-tour-mobile .button-tour:hover {
	color: #06467a;
	text-decoration: none;
}

.box-tour-mobile .button-tour:before,
.box-tour-mobile .button-tour:after {
	content: "";
	position: absolute;
	top: 0;
	right: 100%;
	width: 26px;
	height: 48px;
	background: url(images/sprite-btn.png) no-repeat;
	background-position: 0 -48px;
}

.box-tour-mobile .button-tour:after {
	right: auto;
	left: 100%;
	background-position: 0 0;
}

.box-tour-mobile .button-tour > .ico {
	display: inline-block;
	margin: 0 0 0 1px;
	position: relative;
	top: 3px;
	width: 23px;
	height: 16px;
	background: url(images/ico-button.png) no-repeat;
	background-size: 100% auto;
}

.box-tour {
    padding: 39px 0 28px;
    background: #d3eef9;
    color: #06467a;
    font-size: 25px;
    line-height: 27px;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.box-tour .title {
    font-size: 30px;
    line-height: 38px;
}

.box-tour .button-tour {
    display: inline-block;
    padding: 18px 23px 15px 22px;
    letter-spacing: 1px;
    font-size: 32px;
    line-height: 34px;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    position: relative;
    background: url(images/sprite-btn-2.png) repeat-x;
    height: 76px;
    background-position: 0 -76px;
    -webkit-transition: color .3s;
    transition: color .3s;
    text-decoration: none;
}

.box-tour .button-tour:focus,
.box-tour .button-tour:hover {
	color: #06467a;
	text-decoration: none;
}

.box-tour .button-tour:before,
.box-tour .button-tour:after {
    content: "";
    position: absolute;
    top: 0;
    right: 100%;
    width: 51px;
    height: 76px;
    background: url(images/sprite-btn-2.png) no-repeat;
}

.box-tour .button-tour:after {
	right: auto;
	left: 100%;
	background-position: 0 0;
}

.box-tour .button-tour > .ico {
    display: inline-block;
    margin: 0 0 0 6px;
    position: relative;
    top: 3px;
    width: 40px;
    height: 27px;
    background: url(images/ico-button-2.png) no-repeat;
    background-size: 100% auto;
}

.box-tour .box-txt {
    float: left;
    width: 60.83%;
    padding: 0 10px 0 49px;
}

.box-tour .box-btn {
    float: right;
    width: 470px;
    text-align: right;
}

.input-group-addon {
	padding: 3px 12px;
}

.navbar-brand,
.navbar-nav > li > a,
.nav-pills > li > a,
.nav-tabs > li > a {
	text-decoration: none;
}

.btn .caret {
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.dropdown-menu > li > a {
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	text-transform: none;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
	background: none;
	color: #fb8945;
}

form.navbar-form.navbar-left {
	position: relative;
	overflow: hidden;
	border-radius: 4px;
	padding: 0 31px 0 0;
	background: #edf8fc;
}

form.navbar-form.navbar-left .form-control {
	height: 31px;
	margin: 0;
	font-size: 15px;
	line-height: 20px;
	padding: 6px 15px 5px;
	font-family: "quicksand", Arial, Helvetica, sans-serif;
	color: #93a9bf;
	font-style: italic;
	border-radius: 0;
	border: 0;
	width: 100%;
	background: none;
	outline: none;
	box-shadow: none;
}

form.navbar-form.navbar-left .btn {
	text-indent: -9999px;
	overflow: hidden;
	border-radius: 0;
}

form.navbar-form.navbar-left .btn:after {
	content: "\e908";
	position: absolute;
	right: 50%;
	top: 50%;
	-webkit-transform: translate(50%, -50%);
	-ms-transform: translate(50%, -50%);
	transform: translate(50%, -50%);
	text-indent: 0;
	font-family: "icomoon";
}

.navbar-inverse .navbar-nav > li > a {
	color: #06467a;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus,
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
	color: #06467a;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
	background: none;
}

.panel-title > a,
.list-group-item,
.pager li > a,
.pager li > span {
	text-decoration: none;
}

.pagination-lg > li > a,
.pagination-lg > li > span {
	font-size: 14px;
}

.pagination > li > .prev > .icon-arrow-left,
.pagination > li > .next > .icon-arrow-right {
	font-size: 0.8em;
}

.navbar-nav > li > .dropdown-menu {
	border-radius: 0;
}

.btn-xs,
.btn-group-xs > .btn,
.btn-sm,
.btn-group-sm > .btn,
.btn-lg,
.btn-group-lg > .btn {
	border-radius: 15px;
}

.btn-group-vertical > .btn:first-child:not(:last-child) {
	border-top-right-radius: 15px;
}

form.navbar-form.navbar-left {
	height: 43px;
	padding: 0;
	border-radius: 9px;
	overflow: hidden;
	float: none;
}

form.navbar-form.navbar-left .btn {
	border-radius: 0 9px 9px 0;
}

form.navbar-form.navbar-left .btn:hover {
	opacity: .7;
}

form.navbar-form.navbar-left .form-control {
	height: 43px;
	font-size: 20px;
	line-height: 24px;
	padding: 10px 19px 8px;
	border-radius: 9px 0 0 9px;
	border: 0;
	width: 308px;
	color: #06467a;
	background: #f3f3f3;
	box-shadow: inset 5px 5px 6px 0 rgba(139, 161, 170, .29);
}

.pagination > li:last-child,
.pagination > li:first-child {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

label .jcf-checkbox {
	margin: -5px 10px 0 0;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a {
	color: #fff;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
	color: #fb8945;
}

@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
	.first-mobile {
		background: url(images/bg-06-2x.jpg) no-repeat;
		background-size: cover;
		background-position: 100% 0;
	}

	.section-video {
		background: url(images/krk-kids2.jpg) no-repeat;
		background-size: cover;
		background-position: 100% 0;
	}

	.section-school {
		background: url(images/bg-08-2x.jpg) no-repeat;
		background-position: 100% 0;
	}

	.section-owners {
		background: url(images/bg-09-1-2x.jpg) no-repeat;
		background-position: 50% 0;
		background-size: cover;
	}

	.section-map {
		background: url(images/bg-10-2x.jpg) no-repeat 50% 0;
		background-size: cover;
	}

	.contact-wrap:after {
		background: url(images/hand-2x.png) no-repeat;
		background-size: cover;
	}

	.section-curriculum {
		background: url(images/bg-02-2x.jpg) no-repeat 50% 0;
		background-size: cover;
	}

	.section-learning {
		background: url(images/bg-03-2x.jpg) no-repeat 50% 0;
		background-size: cover;
	}

	.section-news {
		background: url(images/bg-04-2x.jpg) no-repeat 50% 0;
		background-size: cover;
	}

	.section-events {
		background: url(images/bg-11-2x.jpg) no-repeat 50% 0;
		background-size: cover;
	}

	.section-404 {
		background: url(images/bg-07-2x.jpg) no-repeat 50% 0;
		background-size: cover;
	}

	.section-gallery {
		background: url(images/bg-05-2x.jpg) no-repeat;
		background-size: cover;
	}
}

@media (-webkit-min-device-pixel-ratio: 2.5), (min-resolution: 240dpi) {
	.first-mobile {
		background: url(images/bg-06-3x.jpg) no-repeat;
		background-size: cover;
		background-position: 100% 0;
	}

	.section-video {
		background: url(images/krk-kids2.jpg) no-repeat;
		background-size: cover;
		background-position: 100% 0;
	}

	.section-school {
		background: url(images/bg-08-3x.jpg) no-repeat;
		background-position: 100% 0;
	}

	.section-owners {
		background: url(images/bg-09-1-3x.jpg) no-repeat;
		background-position: 50% 0;
		background-size: cover;
	}

	.section-map {
		background: url(images/bg-10-3x.jpg) no-repeat 50% 0;
		background-size: cover;
	}

	.contact-wrap:after {
		background: url(images/hand-3x.png) no-repeat;
		background-size: cover;
	}

	.section-curriculum {
		background: url(images/bg-02-3x.jpg) no-repeat 50% 0;
		background-size: cover;
	}

	.section-learning {
		background: url(images/bg-03-3x.jpg) no-repeat 50% 0;
		background-size: cover;
	}

	.section-news {
		background: url(images/bg-04-3x.jpg) no-repeat 50% 0;
		background-size: cover;
	}

	.section-events {
		background: url(images/bg-11-3x.jpg) no-repeat 50% 0;
		background-size: cover;
	}

	.section-404 {
		background: url(images/bg-07-3x.jpg) no-repeat 50% 0;
		background-size: cover;
	}

	.section-gallery {
		background: url(images/bg-05-3x.jpg) no-repeat;
		background-size: cover;
	}
}

@media (min-width: 768px) {
	.open-close-search > .opener {
		display: none;
	}

	.open-close-search .slide {
		position: static !important;
	}

	a[href^=tel],
	a[href^=skype],
	a[href^=sms] {
		cursor: default;
		pointer-events: none;
	}
}

@media (max-width: 1169px) {
	.navbar-nav > li {
		padding: 12px 10px;
	}

	.navbar-nav > li > a:after {
		bottom: -12px;
	}

	.section-video {
		background-size: cover;
		background-position: 100% 0;
	}

	.section-school {
		background-position: 100% 0;
	}

	.desk {
		padding: 0 50px;
	}

	.video-container .video-text-wrap .slogan {
		padding-bottom: 15px;
		margin-bottom: 15px;
		font-size: 40px;
		line-height: 1;
	}

	.video-container .video-text-wrap .info {
		padding: 0;
	}
}

@media (max-width: 1023px) {
	.navbar-nav {
		margin: 0 -45px;
	}

	.navbar-nav > li > a {
		font-size: 12px;
	}

	.navbar-nav .columns .col {
		padding: 15px 20px;
	}

	.navbar-nav .dropdown-menu {
		font-size: 14px;
		line-height: 18px;
		width: 450px;
	}

	.navbar-nav .dropdown-menu .visual .text .ico {
		font-size: 35px;
		margin-top: -20px;
	}

	.event h3 {
		font-size: 22px;
		line-height: 26px;
	}

	.event .body-event {
		font-size: 14px;
	}

	.event-wrap {
		padding: 23px 15px;
	}

	.list-event li .data {
		font-size: 24px;
		line-height: 27px;
		width: 60px;
		margin-right: 5%;
	}

	.list-event li .data .num {
		font-size: 44px;
		line-height: 31px;
	}

	.list-event .text {
		font-size: 14px;
	}

	.list-event h3 {
		font-size: 22px;
		line-height: 26px;
	}

	.video-container .video-text-wrap {
		padding: 0 35px;
	}

	.video-container .video-text-wrap .slogan {
		font-size: 36px;
		line-height: 1;
	}

	.video-container .video-text-wrap .info {
		font-size: 18px;
		line-height: 24px;
		margin-bottom: 20px;
	}

	.video-container .video-text-wrap .btn {
		font-size: 18px;
		line-height: 20px;
		border-radius: 27px;
		padding: 1px 22px 6px;
	}

	.video-container .video-text-wrap .btn .play {
		width: 24px;
		height: 24px;
	}

	.video-container .video-text-wrap .btn .play:after {
		border-width: 7px 0 7px 12px;
	}

	.two-columns .col-first {
		padding-right: 15px;
	}

	.two-columns .col-second {
		padding-right: 20px;
	}

	.sub-menu > li {
		font-size: 16px;
	}

	.visual-img .text {
		font-size: 30px;
	}

	.box-view .visual a {
		font-size: 30px;
	}

	.box-view .visual .text .ico {
		font-size: 60px;
	}

	.list-img {
		margin: 0 -10px 20px;
	}

	.list-img li {
		padding: 0 10px 20px;
	}

	.event-block .img-box {
		width: 40%;
	}

	.block-contact .box-hold {
		padding: 0 15px 0 0;
	}

	.block-contact .title {
		font-size: 18px;
		line-height: 20px;
	}

	#footer h2 {
		font-size: 12px;
		margin-right: -20px;
	}

	.email-form {
		font-size: 14px;
	}

	.email-form .title {
		font-size: 26px;
	}

	.menu > ul {
		font-size: 12px;
	}

	.social-networks li {
		font-size: 25px;
		line-height: 25px;
	}

	.social-networks .icon-google {
		font-size: 25px;
	}

	.social-networks .icon-instagram {
		font-size: 25px;
	}

	.button-become {
		font-size: 18px;
	}
}

@media (max-width: 767px) {
	.form-control {
		height: 35px;
		line-height: 30px;
		font-size: 14px;
	}

	.jcf-select {
		height: 35px;
	}

	.jcf-select .jcf-select-text {
		line-height: 35px;
		font-size: 14px;
	}

	.jcf-list {
		font-size: 14px;
		line-height: 18px;
	}

	.info-form {
		width: 100%;
	}

	.info-form .line {
		margin: 40px -9999px 40px 0;
	}

	.info-form .btn {
		font-size: 16px;
		line-height: 20px;
	}

	.info-form h2 {
		margin-bottom: 20px;
	}

	.info-form h3 {
		margin-bottom: 10px;
	}

	#header {
		padding: 8px 16px 0;
		box-shadow: none;
        -webkit-box-shadow: none;
		background: none;
	}

	.home #header {
		position: absolute;
		width: 100%;
		z-index: 999;
	}

	.navbar-form {
		width: 100%;
	}

	.navbar-form .form-control {
		width: 100%;
		float: left;
		height: 34px;
		font-size: 16px;
		line-height: 19px;
		padding: 8px 5px 7px;
		margin-bottom: 0;
	}

	.navbar-form .btn {
		position: absolute;
		left: 100%;
		height: 34px;
		width: 34px;
		top: 0;
	}

	.navbar-form .btn > span {
		font-size: 20px;
	}

	.navbar-form .form-group {
		margin: 0;
	}

	.navbar-brand {
		width: 129px;
		margin-bottom: 10px;
	}

	.navbar-collapse .box {
		position: static;
	}

	.sub-nav {
		float: none;
		width: 100%;
		text-align: center;
		padding-top: 10px;
	}

	.sub-nav li {
		float: none;
		width: 100%;
		padding-left: 0;
		margin-left: 0;
		margin-bottom: 5px;
	}

	.sub-nav li:after {
		display: none;
	}

	.navbar-nav {
		display: block;
		margin: 0 -15px;
	}

	.navbar-nav > li {
		width: 100%;
		padding: 5px 0;
	}

	.navbar-nav > li > a:after {
		display: none;
	}

	.navbar-nav > li > a:hover:after {
		display: none;
	}

	.navbar-nav > li > a {
		font-size: 16px;
	}

	.navbar-nav > li.open:after {
		display: none;
	}

	.navbar-nav .columns {
		display: block;
	}

	.navbar-nav .columns .col {
		display: none;
	}

	.navbar-nav .columns .col:first-child {
		display: block;
		width: 100%;
	}

	.navbar-nav .dropdown-menu {
		width: 100%;
		text-align: center;
	}

	.navbar-nav .dropdown-menu ul {
		padding: 0;
	}

	.navbar-nav .dropdown-menu ul li {
		margin: 0;
		padding: 3px 10px;
	}

	.navbar-default .navbar-nav > li > a:hover,
	.navbar-default .navbar-nav > li > a:focus {
		color: #fb8945;
	}

	.open-close-search {
		right: 30px;
		top: 2px;
	}

	.open-close-search .slide {
		overflow: hidden;
		width: 0;
		-webkit-transition: width .3s;
		transition: width .3s;
		position: absolute;
		top: 0;
		right: 0;
		height: 40px !important;
		border-radius: 9px;
		padding: 0;
	}

	.open-close-search .slide .navbar-form .form-control {
		height: 40px;
		padding: 11px 5px 10px;
	}

	.open-close-search .slide .btn {
		width: 0;
		padding: 0;
		-webkit-transition: width .3s;
		transition: width .3s;
		position: absolute !important;
		right: 0;
		top: 0;
		left: auto;
		width: 34px;
		height: 40px;
	}

	.open-close-search.active .slide {
		width: 260px;
		padding-right: 34px;
	}

	.navbar-default .navbar-collapse,
	.navbar-default .navbar-form {
		background: #ccc;
		margin: 0;
	}

	.navbar-default .navbar-collapse {
		margin: 0 -16px;
	}

	.first-mobile {
		min-height: 400px;
	}

	.section-video {
		overflow: hidden;
		padding: 19px 0 30px;
		background: url(images/krk-kids2.jpg) no-repeat;
		background-size: cover;
		background-position: 100% 0;
		position: relative;
	}

	.section-gallery {
		background-position: 28% 0;
	}

	/*.section-gallery .carousel-inner .text-block {
		background: rgba(255,255,255,.8);
		border-radius: 5px;
	}*/

	.section-video:after {
		content: "";
		position: absolute;
		top: -186px;
		right: 50%;
		-webkit-transform: translateX(50%);
		-ms-transform: translateX(50%);
		transform: translateX(50%);
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 283px 790px 0 790px;
		border-color: #fff transparent transparent transparent;
		opacity: .5;
	}

	.section-video .text-block {
		position: relative;
		z-index: 1;
	}

	.section-video .desk {
		max-width: 250px;
		margin: 0 auto 32px;
	}

	.section-video h2 {
		margin-bottom: 7px;
	}

	.section-school {
		padding: 26px 0 12px;
		background-size: auto;
	}

	.section-school .text-block {
		box-shadow: 0 0 37px 0 white;
		background: rgba(255, 255, 255, .5);
		border-radius: 20px;
		padding: 10px 20px;
	}

	.section-school .text-wrap {
		font-size: 10px;
		line-height: 12px;
		padding-right: 0;
	}

	.section-owners {
		padding: 22px 0;
	}

	.section-owners .img-hold {
		margin: 0 -10px 20px;
	}

	.section-owners .img-hold img {
		width: 100%;
		height: auto;
	}

	.section-owners .text-wrap {
		padding: 0 22px;
		font-size: 12px;
		line-height: 15px;
	}

	.section-owners .text-wrap p {
		margin-bottom: 15px;
	}

	.section-map {
		padding: 27px 0 103px;
	}

	.section-map.battlement:after {
		display: none;
	}

	.contact-wrap {
		margin: 0 9px;
		padding: 20px 18px;
	}

	.contact {
		font-size: 10px;
		line-height: 12px;
	}

	.contact .box {
		padding-bottom: 15px;
	}

	.contact h2 {
		font-size: 10px;
		line-height: 12px;
	}

	.map {
		margin-bottom: 10px;
	}

	.section-curriculum {
		padding: 21px 0 14px;
		background-size: cover;
	}

	.section-learning {
		padding: 36px 0 22px;
	}

	.section-news {
		padding: 20px 0 36px;
		background-position: 100% 0;
	}

	.section-news .text-block {
		padding: 0 14px;
	}

	.section-news .load-more {
		font-size: 10px;
	}

	.btn {
		font-size: 10px;
		line-height: 14px;
		border-radius: 7px;
		padding: 4px 18px;
	}

	.btn > span {
		font-size: 9px;
	}

	.btn.btn-info {
		font-size: 10px;
	}

	h2 {
		font-size: 15px;
		line-height: 17px;
		margin: 0 0 16px;
	}

	h3 {
		font-size: 16px;
	}

	h4 {
		font-size: 16px;
	}

	.desk {
		font-size: 10px;
		line-height: 16px;
		padding: 0 35px;
	}

	.btn-play .icon {
		font-size: 57px;
		line-height: 1;
	}

	.kids-curriculum {
		padding: 0 8px;
		margin-bottom: 0;
	}

	.kids-curriculum li {
		width: 50%;
		padding: 0 8px;
		margin: 0 0 16px;
	}

	.kids-curriculum img {
		width: 100%;
		height: auto;
	}

	.post-news {
		font-size: 10px;
		line-height: 12px;
		margin: 0 0 27px;
		padding-right: 20px;
	}

	.post-news .text-wrap {
		height: 60px;
	}

	.post-news .read-more .icon {
		font-size: 8px;
	}

	.block-posts .post-box {
		font-size: 16px;
		line-height: 20px;
		margin: 0 0 20px;
	}

	.block-posts .post-box p {
		margin: 0 0 15px;
	}

	.block-posts .post-box .link-to {
		margin: 0 0 15px;
	}

	.block-posts .post-box .name {
		font-size: 13px;
		line-height: 15px;
		margin-left: 10px;
	}

	.block-posts .post-box .social {
		width: 37px;
		height: 33px;
	}

	.info-social {
		font-size: 16px;
		line-height: 20px;
	}

	.section-events {
		padding: 12px 0;
	}

	.section-events .title-event h2 {
		margin-bottom: 16px;
	}

	.event-wrap {
		height: auto !important;
		padding: 9px 17px 16px 37px;
	}

	.list-event li {
		padding-top: 20px;
	}

	.list-event li:first-child {
		padding-top: 0;
	}

	.list-event li .data {
		font-size: 13px;
		line-height: 15px;
		width: 32px;
		margin-right: 20px;
	}

	.list-event li .data .num {
		font-size: 25px;
		line-height: 21px;
	}

	.list-event .text {
		font-size: 10px;
	}

	.list-event h3 {
		font-size: 13px;
		line-height: 15px;
		margin-bottom: 2px;
	}

	.video-container .video-img-wrap {
		width: 100%;
	}

	.video-container .video-img-wrap img {
		width: 100%;
	}

	.video-container .video-text-wrap {
		width: 100%;
		padding: 25px;
	}

	.two-columns {
		font-size: 15px;
	}

	.two-columns .section-xtx {
		font-size: 15px;
	}

	.two-columns .col-first {
		font-size: 15px;
		line-height: 18px;
		margin-bottom: 30px;
		padding-right: 0;
		border: 0;
	}

	.two-columns .col-first .img-holder {
		margin-bottom: 30px;
	}

	.two-columns .col-first .img-holder img {
		width: 100%;
	}

	.two-columns .col-second {
		padding-right: 0;
	}

	.two-columns .col-second .img-holder {
		text-align: center;
		margin-bottom: 20px;
	}

	.menu-wrap:after {
		top: auto;
		left: 0;
		width: auto;
		height: 4px;
	}

	.sub-menu > li {
		margin-bottom: 10px;
		font-size: 20px;
	}

	#twocolumns {
		padding: 15px 0;
	}

	.visual-img .text {
		font-size: 25px;
		padding: 0 15px;
	}

	.item {
		font-size: 16px;
		margin-bottom: 15px;
	}

	.item .visual {
		width: 30%;
	}

	.item .text {
		overflow: visible;
	}

	.item .title {
		padding-bottom: 10px;
	}

	.line {
		border-width: 6px;
	}

	.careers-wrap .btn {
		font-size: 14px;
		line-height: 17px;
	}

	.careers {
		font-size: 16px;
		margin-bottom: 25px;
	}

	.careers .button-wrap {
		padding: 0;
	}

	.careers .btn {
		font-size: 18px;
		line-height: 22px;
		min-width: 100px;
		padding: 8px 15px;
	}

	.box-view {
		padding: 20px;
	}

	.box-view .visual a {
		font-size: 22px;
	}

	.box-view .visual .text .ico {
		font-size: 35px;
		margin-top: 20px;
	}

	.box-view .body-view h2 {
		font-size: 17px;
	}

	.list-img {
		margin: 0 -5px 20px;
	}

	.list-img li {
		padding: 0 5px 10px;
	}

	.row-text {
		margin-bottom: 10px;
	}

	.text-container {
		margin-bottom: 35px;
	}

	.text-container h2 {
		margin-bottom: 10px;
	}

	.text-container p {
		margin-bottom: 25px;
	}

	.text-container .line {
		margin: 25px 0;
	}

	.event-block {
		margin-bottom: 25px;
	}

	.event-block .img-box img {
		max-width: none;
		width: 100%;
	}

	.event-block p {
		margin-bottom: 15px;
	}

	.info-block {
		margin-bottom: 20px;
		padding-bottom: 15px;
	}

	.info-block h2 {
		margin-bottom: 10px;
	}

	.section-thankyou img {
		margin-top: -100px;
	}

	.section-thankyou .txt {
		max-width: 100%;
	}

	.block-information {
		padding: 0 10px;
		width: 60%;
	}

	.block-information .big-title {
		font-size: 45px;
		line-height: 45px;
		margin: 0 0 25px;
	}

	.block-information .info {
		font-size: 18px;
		line-height: 22px;
		margin: 0 0 25px;
	}

	.block-information .txt {
		margin: 0 0 8px;
	}

	.block-information ul li {
		margin: 0 0 10px;
	}

	.section-xtx {
		font-size: 14px;
		padding-bottom: 25px;
	}

	.section-xtx h4 {
		margin-bottom: 15px;
	}

	.section-xtx p {
		margin-bottom: 17px;
	}

	.logo-columns {
		margin-bottom: 25px;
	}

	.form-info .title {
		font-size: 24px;
		line-height: 26px;
	}

	.form-info .form-control {
		width: 200px;
		letter-spacing: normal;
		padding: 8px 8px;
		height: 35px;
		font-size: 18px;
		line-height: 24px;
	}

	.form-info .btn {
		width: 50px;
		font-size: 18px;
		line-height: 20px;
		height: 35px;
	}

	.box-map {
		height: 448px;
		margin-bottom: 20px;
	}

	.box-map .icon {
		font-size: 16px;
		line-height: 18px;
	}

	.box-map .icon .ico {
		font-size: 46px;
		top: -6px;
		left: -6px;
	}

	.box-map .icon .number {
		width: 24px;
		height: 24px;
		padding: 2px 2px 3px;
	}

	.block-contact {
		margin: 0 0 80px;
	}

	.block-contact .box {
		padding: 30px 0;
	}

	.block-contact .box:first-child {
		padding: 30px 0;
	}

	.block-inform {
		margin: -30px 0 0;
	}

	.block-inform h2 {
		font-size: 30px;
		line-height: 32px;
		margin: 0 0 20px;
	}

	.block-inform .block {
		margin: 0 0 20px;
	}

	.block-inform h3 {
		margin: 0 0 15px;
	}

	.block-inform .hold {
		margin: 0 0 20px;
	}

	.block-inform .hold address {
		margin: 0 0 8px;
	}


@media (min-width: 900px) {
	.section-gallery{
		min-height: 465px;
			}
	.section-gallery .carousel{
		min-height: 465px;
			}
		
	} 
		
		
	.carousel,
	.cycle-gallery {
		padding: 35px 50px 42px;
	}

	.carousel .desk,
	.cycle-gallery .desk {
		padding: 0 20px;
		margin-bottom: 24px;
	}

	.carousel .name,
	.cycle-gallery .name {
		height: 33px;
		font-size: 13px;
		line-height: 15px;
		margin-left: 10px;
	}

	.carousel .social,
	.cycle-gallery .social {
		width: 37px;
		height: 33px;
	}

	.carousel h2,
	.cycle-gallery h2 {
		margin-bottom: 25px;
	}

	.carousel-control.left,
	.carousel-control.right {
		width: 40px;
		height: 40px;
		font-size: 20px;
		line-height: 40px;
	}

	.btn-add {
		font-size: 14px;
		line-height: 25px;
		padding-left: 30px;
	}

	.btn-add .icon {
		width: 25px;
		height: 25px;
		font-size: 20px;
		line-height: 25px;
	}

	#footer {
		padding: 0 15px;
		background: #fff;
		color: #06467a;
		text-align: center;
	}

	#footer h2 {
		color: #06467a;
		font-size: 16px;
		line-height: 19px;
		margin: 0 0 10px;
	}

	#footer .row {
		display: block;
	}

	.email-form {
		text-align: center;
		background: #84a5be;
		margin: 0 -33px 47px;
		max-width: none;
		padding: 22px 50px 27px;
		color: #fff;
	}

	.email-form p {
		margin-bottom: 7px;
	}

	.email-form .title {
		font-size: 23px;
		line-height: 24px;
		margin-bottom: 7px;
	}

	.email-form .input-wrap {
		padding-right: 27px;
	}

	.email-form .btn {
		font-size: 16px;
		height: 26px;
		width: 27px;
		line-height: 26px;
	}

	.email-form .form-control {
		height: 26px;
		font-size: 10px;
		line-height: 14px;
		padding: 6px 13px;
	}

	.menu > ul {
		margin-bottom: 37px;
		padding-bottom: 5px;
	}

	.menu > ul li {
		margin-bottom: 5px;
	}

	.menu > ul a {
		color: #06467a;
		font-size: 16px;
		line-height: 19px;
	}

	.social-networks {
		float: none;
		display: inline-block;
		vertical-align: top;
		margin-top: -17px;
	}

	.social-networks li {
		font-size: 28px;
		line-height: 31px;
		margin-left: 9px;
	}

	.social-networks li:first-child {
		margin-left: 0;
	}

	.social-networks a {
		color: #06467a;
	}

	.social-networks .icon-google {
		font-size: 34px;
	}

	.social-networks .icon-instagram {
		font-size: 31px;
	}

	.input-group-addon .jcf-checkbox {
		width: 20px;
		height: 20px;
	}

	.input-group-btn .btn {
		height: 35px;
	}

	.btn-group .jcf-checkbox {
		margin: 0 5px 0 0;
		height: 26px;
		width: 26px;
	}

	form.navbar-form.navbar-left {
		max-width: 260px;
		margin: 10px auto;
		position: relative;
		padding-right: 40px;
	}

	form.navbar-form.navbar-left .btn {
		position: absolute;
		top: 0;
		right: 0;
		left: auto;
		width: 40px;
		height: 43px;
		font-size: 25px;
	}

	form.navbar-form.navbar-left .form-control {
		width: 100%;
	}

	.navbar-nav .open .dropdown-menu {
		background: #06467a;
	}
}

@media (max-width: 767px) and (-webkit-min-device-pixel-ratio: 1.5), (max-width: 767px) and (min-resolution: 144dpi) {
	.section-video {
		background: url(images/krk-kids2.jpg) no-repeat;
		background-size: cover;
		background-position: 100% 0;
	}
}

@media (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2.5), (max-width: 767px) and (min-resolution: 240dpi) {
	.section-video {
		background: url(images/krk-kids2.jpg) no-repeat;
		background-size: cover;
		background-position: 100% 0;
	}
}

@media (max-width: 479px) {
	.first-mobile {
		min-height: 202px;
	}

	.event-block .img-box {
		float: none !important;
		width: 100%;
		margin-bottom: 15px;
		padding: 0;
	}

	.event-block .text-box {
		padding: 0;
	}

	.block-information {
		width: 75%;
	}
}
