#event-calendar.fc{
    margin-bottom: 50px;
}

.fc button{
    border: none;
    outline: none;
    border-radius: 7px;
    color: white;
    background: #ced5df;
    transition: background .3s ease;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    font-size: 33px;
    font-weight: 700;
    height: auto;

}

.fc button:hover{
    background: #06467a;
}

.fc-ltr .fc-basic-view .fc-day-number{
    text-align: left;
    color: #fb8945;
    font-weight: 700;
}