#customize-controls{
	width: 431px;
}

.collapsed #customize-controls {
	width: 0;
}

#customize-controls .container{
	max-width: 420px !important;
}

ul.sortable-list .sortable-handle{
	float: right;
	cursor: move;
}

ul.sortable-list li{
	padding: 7px;
	border: 1px solid #e5e5e5;
	background: #fafafa;
	cursor: pointer;
}

ul.sortable-list li i.dashicons-menu{
	float: right;
    font-size: 28px;
    margin-right: 15px;
}